[2020-02-13 16:34] aelassas commented on #185
Is Wexflow.WebClient a custom task?

[2020-02-13 17:05] davelock commented on #185
Hi, no its a .Net 4.6.1 class library.

[2020-02-13 17:16] aelassas commented on #185
Ok, then try to reference it in Wexflow.Server project.

[2020-02-13 17:26] davelock commented on #185
Awesome that worked, many thanks

[2020-02-13 17:26] #185 closed

[2020-02-14 15:38] Hamza23579 commented on #174
@aelassas please I have kind of the same issue, I just want you to confirm whether it is possible or not to make such use case.
Regards.

[2020-02-16 09:32] dubravcik opened #186 "Workflows in source code to allow version control and multiple environments"
Hi @aelassas , wexflow has wonderful definition of a workflow in the source code in json/xml. I haven't found it in the documentation, but I am afraid we can't save the json/xml in files and version control it in Git, right?

Such a feature would allow us to develop and test workflows locally (separate environment), version control the definition (together with related project code), push and revi

[2020-02-17 11:34] davelock opened #187 "Issue retrieving parameter from custom workflow"
Hi, apologies for the many questions I've asked during the last week or so but I have another hopefully quick issue:
![image](https://user-images.githubusercontent.com/7046091/74649975-9a9b0f00-5178-11ea-8697-1dd1356d4260.png)

The screen shot above shows a custom Wexflow task.  In the constructor it tries to get a parameter, but the value it returns is the value in the xml ( <Setting name="addres

[2020-02-17 12:04] davelock opened #188 "Custom workflow starting twice when calling 'startWithParameters' from Swagger api"
Hi, when starting a custom workflow from swagger, the Workflow.Start method is called twice, is there a workaround/fix available?

![image](https://user-images.githubusercontent.com/7046091/74652158-56f6d400-517d-11ea-8dbc-d534fe6ab701.png)

Many thanks

[2020-02-17 13:34] aelassas commented on #187
Try Workflow.RestVariables to get parameter values from your task.

[2020-02-18 04:59] mfaghfoory opened #189 "Thread safety of tasks"
Hi, can we suppose tasks to be thread-safe? I mean can we use this framework as something like a BPMN engine and start a task from a workflow per each user? or I misunderstood it?

[2020-02-23 09:44] benjstern opened #190 "User Name and Password not Signing in for Windows"
I've been testing out the software and it seems when installing Wexflow on Windows 10, it doesn't allow me to login with the default credentials shortly after installing and configuring the database.

While the wexflow.log file shows:
`2020-02-23 11:13:07,377  INFO [3] - `
`2020-02-23 11:13:07,389  INFO [3] - Starting Wexflow Engine`

i keep on getting a popup message of

What i have noticed was t

[2020-02-23 12:29] aelassas commented on #190
If you're using Sql Server you need to start the service as a user having the rights to access Sql Server.

[2020-02-26 12:33] benjstern commented on #190
@aelassas  I was starting the service as the administrator of the machine. Windows 10 Pro

[2020-02-26 12:45] benjstern commented on #190
Alternatively i was able to get it working with net core, without any changes so I'm not sure why the regular .net wasn't working.

Would changing the DB type affect this in any way?

[2020-02-26 22:53] igloo15 opened #191 "Turn a single workflow into an executable"
I would like to design a workflow and then turn that workflow into an executable to run whenever the executable runs. Is that something that Wexflow could do?

If not could I make so that everytime Wexflow is run it auto runs a single workflow on start and then closes itself?

Most of the ways I have seen Wexflow installed or used is as a service/server that is constantly running with multiple wor

[2020-02-27 10:59] benjstern opened #192 "Can we selectEntities from multiple tasks?"
In the documentation i know it has a reference to select entities by inputting the taskId like below
`<Setting name="selectEntities" value="$taskId" />`

Can we select the entities from 2 or more taks like either:
`<Setting name="selectEntities" value="$taskId1,$taskId2" />`
or with just multiple entries?
`<Setting name="selectEntities" value="$taskId1" />`
`<Setting name="selectEntities" value="$

[2020-02-27 12:14] aelassas commented on #192
You can do it like this:
<Setting name="selectEntities" value="$taskId1" />
<Setting name="selectEntities" value="$taskId2" />

[2020-02-27 14:00] benjstern commented on #192
Thanks works like a charm.

[2020-02-27 14:00] #192 closed

[2020-02-27 14:03] benjstern opened #193 "Is there a way to prevent a Workflow from launching until previous launch is complete?"
I have an issue where my workflow operates in sequential order and if the same workflow is launched again prior to the previous one being complete the results are unexpected.

Is there anyway for a workflow to be locked until the running instance is finished?

[2020-02-27 14:17] aelassas commented on #193
You can do it by setting enableParallelJobs to false. Check out the doc https://github.com/aelassas/Wexflow/wiki/Usage#general

[2020-03-02 06:44] amersasa90 opened #194 "Cron expression"
Hello,

I'm trying to run a HTTP GET task every Sunday at 07:30 AM , I used below CRON expression:

0 30 7 ? * SUN

Can you assist me ?

Note : It was working fine with me , but when I changed the PC's timezone  to my region's one, it did not fire.

Thank

[2020-03-02 06:48] amersasa90 commented on #194
<Workflow id="135" name="site_codes_rf_pending_email" description="site_codes_rf_pending_email" xmlns="urn:wexflow-schema">
  <Settings>
    <Setting name="launchType" value="cron" />
    <Setting name="enabled" value="true" />
    <Setting name="approval" value="false" />
    <Setting name="cronExpression" value="0 38 8 ? * MON" />
  </Settings>
  <LocalVariables />
  <Tasks>
    <Task id="1" nam

[2020-03-02 20:48] janborup commented on #194
Try use www.cronmaker.com
http://www.cronmaker.com/;jsessionid=node01m6c9wr2xppun1bzlmsqo4hdon51718.node0?0

Format looks fine, so try reboot machine and Wexflow Engine.

/Cheers

[2020-03-02 20:57] janborup commented on #191
Hi

WexFlow is an cross platform engine, that can be called with external request .
https://github.com/aelassas/Wexflow/wiki/RESTful-API#manager

Just make your on small executeable program/service for your own OS platform, at use the RESTful API, to manage the jobs you like.

/Cheers.

[2020-03-04 18:53] SamKhaan opened #195 "Can not create a workflow"
http://localhost:8000/wexflow/startWithVariables is not working
I am trying to make an ajax request in .net Core application, though it does not work in Swagger either.

[2020-03-04 23:02] janborup commented on #195
Hi Sam

Be sure you are using a POST call, to call this API call.
Use a Body- request like this:
`{
	"WorkflowId":131,
	"Variables":[
	  {
		 "Name":"restVar1",
		 "Value":"C:\\WexflowTesting\\file1.txt"
	  },
	  {
		 "Name":"restVar2",
		 "Value":"C:\\WexflowTesting\\file2.txt"
	  }
	]
} `

/Cheers

[2020-03-05 17:21] SamKhaan commented on #195
Hi,

I am using a POST call. Find below is the swagger UI and .net code.

![image](https://user-images.githubusercontent.com/19692047/76007027-64c98a80-5edb-11ea-833b-3ba2e2f01ec0.png)

****.Net code****

 var data = { "WorkflowId": 0, "Variables": [{ "Name": "string", "Value": "string" }] };
        $.ajax({
            url: 'http://localhost:8000/wexflow/start?w=3',
            async: false,

[2020-03-05 22:38] janborup commented on #195
Hi Sam

See you are calling /start?w=3 and not /startwithvariables - is this your error?

Always stress test your call in a Rest tool like GetPostman first, With this you Will found out if the error is in the rest-call or in your program.

/Cheers

[2020-03-06 02:11] SamKhaan commented on #195
My bad, I sent you the wrong screen shot , I am calling it with
startwithvariables and I tested it using fiddler but same response.

On Thursday, March 5, 2020, Jan Borup Coyle <notifications@github.com>
wrote:

[2020-03-06 02:12] SamKhaan commented on #195
I have sent you sawaager UI where it does not work either.

On Thursday, March 5, 2020, Saman Khan <samankhaan@gmail.com> wrote:

[2020-03-06 14:22] SamKhaan commented on #195
Just wondering why it does not run on Swagger, the screen shot attached above.

[2020-03-06 14:30] SamKhaan commented on #195
Find attached the testing with "Fiddler"

[2020-03-06 14:34] SamKhaan commented on #195
![rest](https://user-images.githubusercontent.com/19692047/76092612-ad418080-5f8d-11ea-9761-48eaaabeb5b2.PNG)

[2020-03-08 12:23] benjstern commented on #193
Thanks for the direction, that worked

[2020-03-08 12:23] #193 closed

[2020-03-08 12:28] benjstern commented on #45
What was the solution for this? I was wondering the same thing.

[2020-03-08 12:47] benjstern commented on #163
What about parallel tasks in the execution graph?

[2020-03-11 14:11] davelock opened #196 "Wexflow hosted in Azure"
Hi, I'm trying to host the wexflow database in Azure.  I notice that out of the possible db's that Azure isn't listed (in Wexflow.xml)

Is it possible to use Azure?

Many thanks

[2020-03-11 14:18] aelassas commented on #196
Yes, it is possible to host Wexflow's database on Azure. Which db do you want to use? MongoDB, PostgreSQL, CosmosDB?

[2020-03-11 14:19] davelock commented on #196
Thanks for replying so quick, I wanted to use SQL Server

[2020-03-11 14:23] davelock commented on #196
It works fine when im connecting to a local SQL server but when I use the Azure connection string, I get an error : 'The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections'

[2020-03-11 14:24] davelock commented on #196
One thing I noticed is that the Azure connection string uses tcp.
"Server=tcp:databaseurl,1433;Initial Catalog=DatabaseName;...

[2020-03-11 14:38] aelassas commented on #196
I haven't tested SQL Server with Azure yet. Did you create an empty wexflow db on Azure? Did you try to connect to the db from Management Studio or an other tool?

[2020-03-13 16:42] bh-adrienne commented on #94
@KyleBCox is there a starter docker file or docker container for wexflow yet?

[2020-03-13 23:28] bh-adrienne commented on #179
@Ray365  I figured a full working example would be useful and I needed one to test this out anyway, so I've linked it here.

[2020-03-21 19:36] aelassas commented on #194
@amersasa90 Your cron expression is correct. It will fire every Sunday at 07:30 AM. Did you try to reboot your machine and Wexflow as well?

[2020-03-21 19:42] aelassas commented on #195
@SamKhaan I have just tested /startWithVariables and it works fine on my side. Are you using the .NET Core version of Wexflow on Windows? Can you post your custom workflow and your payload?

[2020-03-21 19:43] aelassas commented on #191
Did you try the [command line client](https://github.com/aelassas/Wexflow/wiki/Command-line-client)?

[2020-03-21 19:51] SamKhaan commented on #195
.Net code
var data = { "WorkflowId": 10, "Variables": [{ "Name": "var1", "Value":
"var2” }] };
$.ajax({
url: 'http://localhost:8000/wexflow/startwithvariables',
async: false,
data:data,
type: 'Post',
"crossDomain": true,
headers: {
"Access-Control-Allow-Origin": "*",
"Authorization": "Basic
YWRtaW46ZWUwNWVhYWJhN2I3NmYxNmUyODVkOTgzZDYwNWM5YmY="}

On Saturday, March 21, 2020, Akram El Assas <notific

[2020-03-21 19:52] aelassas commented on #188
You mean /startWithVariables. I have just tested it but I can't reproduce your issue. Are you using the .NET Core version of Wexflow on Windows? Are you still facing this issue?

[2020-03-21 19:55] aelassas commented on #186
Workflows are persisted in the database in XML format and the user can edit workflows in XML or JSON. Version control is a nice feature request. Thank you for your feedback @dubravcik.

[2020-03-21 19:58] aelassas commented on #180
@bumblebee333 Did you succeed using [ProcessLauncher](https://github.com/aelassas/Wexflow/wiki/ProcessLauncher) task on Linux with your custom configuration?

[2020-03-21 20:06] aelassas commented on #189
Workflow instances are thread-safe. You can run a same workflow in parallel multiple times or you can use queuing through [enableParallelJobs](https://github.com/aelassas/Wexflow/wiki/Usage#general) setting option. In Wexflow you can assign worfklows to users through [Profiles](https://github.com/aelassas/Wexflow/wiki/Usage#profiles) page but workflows cannot run specifically per user for the mome

[2020-03-21 20:08] aelassas commented on #195
@SamKhaan Ok for the payload. Can you post your workflow in XML as well?

[2020-03-23 20:16] aelassas commented on #179
@Ray365 @janborup I updated the documentation regarding [Docker](https://github.com/aelassas/Wexflow/wiki/Docker). Tell me if this works fine for you.

[2020-03-24 13:17] aelassas commented on #196
@davelock Can you post the full connection string so I can see what's wrong?

Also, can you try to replace "Initial Catalog=" by "Database=" and see if it works.

[2020-03-24 15:27] davelock commented on #196
Hi, I'm very sorry for the delay in getting back to you, I got it to work by changing the connection string a little (I removed tcp and copied the over connection strings in the app)

[2020-03-24 15:37] aelassas commented on #196
Ok, glad that it worked for you.

[2020-03-24 15:37] #196 closed

[2020-03-27 15:56] aelassas commented on #163
@benjstern For the moment, two things are forbidden in the execution graph:

- Parallel tasks
- Infinite loops

These two things are detected during the validation process when creating a new workflow or updating an existing workflow.

Here is an example of parallel tasks:

![alt tag](https://aelassas.github.io/wexflow/images/Workflow_ExecutionGraph_parallel_tasks.png)

[code]

Here is an example

[2020-03-29 11:47] aelassas commented on #163
- Use [jsPlumb](https://jsplumbtoolkit.com/demonstration/flowchart-builder) to create a new designer with drag and drop features.

[2020-03-29 18:21] aelassas commented on #163
@janborup I started working on a brand new designer with drag and drop features using the library Flowy. Here is a live demo of the library: https://alyssax.com/x/flowy/

This is just the beginning, it will requires a lot of work on the UI and probably the backend too. I think that I will also need to tweak Flowy library too.

You can also play with the new designer by opening the designer2.html p

[2020-03-31 07:13] jeremy-xu opened #198 "How to store variable to each instance of approve workflow"
i try to store some info to different instance of an approve workflow. /startWithVariables can just get the value from first instance.

[2020-03-31 08:43] aelassas commented on #198
Can you post your workflow in XML please?

[2020-03-31 09:01] jeremy-xu commented on #198
<Workflow id="101" name="Test_01" description="Test_01" xmlns="urn:wexflow-schema">
		  <Settings>
		    <Setting name="launchType" value="trigger" />
		    <Setting name="enabled" value="true" />
		    <Setting name="approval" value="true" />
		  </Settings>
		  <LocalVariables />
		  <Tasks>
		    <Task id="1" name="MyTask2" description="" enabled="true">
		      <Setting name="url" value="test1

[2020-03-31 09:02] jeremy-xu commented on #198
<Workflow id="101" name="Test_01" description="Test_01" xmlns="urn:wexflow-schema">
		  <Settings>
		    <Setting name="launchType" value="trigger" />
		    <Setting name="enabled" value="true" />
		    <Setting name="approval" value="true" />
		  </Settings>
		  <LocalVariables />
		  <Tasks>
		    <Task id="1" name="MyTask2" description="" enabled="true">
		      <Setting name="url" value="test1

[2020-03-31 09:09] jeremy-xu commented on #198
is any way i can store something in each instance of workflow when use the startWithVariables api. so i can get the value from all the tasks of this instance.

[2020-03-31 09:15] aelassas commented on #198
With /startWithVariables, you can start a workflow with variables. Here is a sample payload:

[code]

Here is a sample workflow:

[code]

[2020-03-31 09:23] jeremy-xu commented on #198
![图片](https://user-images.githubusercontent.com/34293558/78009791-1beae180-7374-11ea-9021-47faef7f955c.png)
i can not receive value from restVariables except the first instance of same workflow.

[2020-03-31 09:51] jeremy-xu opened #199 "How to run wexflow on docker with custom Task"
where i should put the custom task .dll file when using docker?

[2020-03-31 10:34] aelassas commented on #198
Try this from Run method:

[code]

Also, can you post your payload?

[2020-03-31 10:37] aelassas commented on #199
Custom tasks are not supported when using Docker for the moment. They are only supported by the .NET version.

What you can do is to clone the repo, open Wexflow's solution and add your custom tasks in the .net core version. In this case, don't forget to reference your custom task in Wexflow.Server project.

[2020-04-01 02:18] jeremy-xu commented on #199
Is wexflow support linux with custom tasks?

[2020-04-01 09:01] sriptorium opened #200 "[Linux U18] Can't sign in..."
Hi there,
I've followed all instructions. .NET core, wexflow unziped in /opt, etc
Can see the login page.
But after using credentials (admin/wexflow2018) nothing happens.
Using a clean u18.04.4LTS server (no gui) on a virtualbox VM.
Followed the procedure twice to double check.
Nothing happens at sign in... :/

[2020-04-01 09:59] aelassas commented on #199
No, custom tasks are not supported in Linux for the moment. Even if you copy .dll and .pdb files to /opt/wexflow/Wexflow.Server, it won't work.
To create your own tasks on Linux, you have to clone the repo, create your custom task in the solution, reference your custom task in Wexflow.Server project then create the .net core package (see .net core installation [script](https://github.com/aelassas/

[2020-04-01 10:01] aelassas commented on #200
Did you installed Wexflow's backend (/opt/wexflow/Backend) on a web server (since you're using Ubuntu 18.04.4LTS server edition - no GUI)?

[2020-04-01 10:08] sriptorium commented on #200
Thank you for your answer.
Yes, after the normal installation, I did a
sudo cp -r /opt/wexflow/Backend /var/www/html

lamp installed.
the vm is on the local network.
By the way, I was surprised to have access to the login from http://machine-ip:8000
and also from http://machine-ip/Backend/index.html
Except the second adress provides a "lost password" link that the first does not have.
Anyway, can'

[2020-04-01 10:08] sriptorium commented on #200
(firewall is open on 80, 443, and 8000)

[2020-04-01 10:37] aelassas commented on #200
You need to update Backend/js/settings.js on your web server /var/www/html/Backend and put the following config:

[code]

[2020-04-01 10:41] sriptorium commented on #200
Ok, understood. Will do that (after lunch :) ) and let you know.
Thank you.

[2020-04-01 12:21] sriptorium commented on #200
Hi.
Ok, what you suggested didn't work.
I edited /var/www/html/Backend/js/settings.js as suggested.
went back to /opt/wexflow/Wexflow.Server to do an dotnet Wexflow.Server.dll
When going to http://machine-ip:8000/ or http://machine-ip/Backend/index.html
I couldn't log in.

BUT

I did finally succeed in logging in by :
copying the entire wexflow directory to /html (not only Backend as before) :
cp

[2020-04-01 12:34] aelassas commented on #200
Glad that you found the solution.

[2020-04-01 12:34] #200 closed

[2020-04-01 21:51] smcgrawDotNet opened #201 "Weird error"
Good day,

Using: .NET (not core); Windows 10; Installed all as admin; PostgreSQL access;

Wexflow Manager will start - runs; Nothing else will load.  For example, I get the Designer webpage with login (login is not processed). Note the page address below:
file:///C:/Program%20Files/Wexflow/Backend/index.html

Is the server processing the page?

[2020-04-01 22:07] aelassas commented on #201
Can you check if the web service is running by opening http://localhost:8000/ on a web browser.

[2020-04-02 16:20] smcgrawDotNet commented on #201
Akram,

It is running - I get the API.

Swagger Wexflow

 5.2

[ Base URL: localhost:8000/wexflow ]

http://localhost:8000/swagger-ui/swagger.yaml

Wexflow's RESTful API.
Contact the developer <akram.elassas@gmail.com>
MIT <https://opensource.org/licenses/MIT>
Find out more about Wexflow <https://wexflow.github.io/>

On Wed, Apr 1, 2020 at 3:08 PM Akram El Assas <notifications@github.com>
wrote:

[2020-04-02 16:43] aelassas commented on #201
Can you open the developer console of the browser and tell me what error you are getting when you try to log in to the backend.

[2020-04-03 05:10] jeremy-xu commented on #199
I try the docker way to run custom task and it is work by copy .dll and .pdb files.

Dose the sqlite store the status of running workflow?

[2020-04-03 10:38] aelassas commented on #199
Do you use Dockerfile or Docker Compose?

Also, Try another database system like [MongoDB](https://github.com/aelassas/Wexflow/wiki/MongoDB) for example.

[2020-04-03 18:59] jrose0414 opened #202 "imap"
Question:  I need imap support to retrieve attachments from a specific folder.  i see pop3 - how do i get imap attributes set up for mail receiver? Is this adding functionality and a recompile?  Thank you!

[2020-04-03 19:31] aelassas commented on #202
MailsReceiver task only supports POP3 for the moment. To implement IMAP, you'll have to update the task to support IMAP. You'll need to add a task setting option protocol=POP3/IMAP. Then, if the setting option protocol is equal to IMAP, you put the code to download the emails and their attachments.

[2020-04-03 20:59] smcgrawDotNet commented on #201
*So, only one error: *
CONSOLE21301: serviceWorker.getRegistrations is rejected due to unsecure
context or host restriction in
file:///C:/Program%20Files/Wexflow/Backend/index.html.

*Per research, I added to trusted on edge (restarted server, etc):*
localhost:8000
HTTPS:8000
Get an *"Unspecified error"* error in the console window - now.

*From the Console*

   1. HTML1300: Navigation occurred.

[2020-04-03 21:11] aelassas commented on #201
Which web browser are you using?

[2020-04-04 10:23] aelassas commented on #202
@jrose0414 I added support for IMAP in MailsReceiver task. I will publish it in the v5.3.

[2020-04-04 18:02] jrose0414 commented on #202
Fantastic!

Sent from my iPhone

[2020-04-05 17:40] aelassas commented on #202
@jrose0414 I've just published the [v5.3](https://github.com/aelassas/Wexflow/releases/tag/v5.3).  I added support for IMAP in MailsReceiver task in both .NET and .NET Core versions.

[2020-04-05 17:42] aelassas commented on #201
@smcgrawDotNet I've just published a [new version](https://github.com/aelassas/Wexflow/releases/tag/v5.3). Can you uninstall Wexflow, install this new version and check if you still face the same issue?

[2020-04-06 00:33] janborup opened #203 "Flowy implemention"
@aelassas the Flowvy implementation in the v5.3 looks great.

I have tried it out and the new version, and over all it working **GREAT.... very good work.**

I have only found minor improvements missing.
- When task i created, you cannot change header task details like, type etc, but you can enter it, and works fine when creating the new task.
- JSON is missing ExecutionGraph code
- Flowy not yet

[2020-04-06 01:00] janborup opened #204 "FileContentMatch with WorkflowFiles collection"
Hi @aelassas

Is it possible to add a workflow file collection to the FileContentMatch.cs ?

`return new TaskStatus(Status.Success, success);`
I can see it's only returns one TaskStatus to the ExecutionGraph, but a have a scenario where to search in multible files in a folder for af Keyword in the files, and the have a IF-ELSE graph for each file.

Is that possible ?

/Jan

[2020-04-06 09:09] aelassas commented on #203
@janborup Thanks for your feedback. Glad that you liked the v5.3. Regrding flowy, yes it is not ready for designing the execution graph for the moment. I will take in consideration your feedback in the v5.4.

[2020-04-06 09:12] aelassas commented on #204
@janborup Ok, I will update the task in the v5.4 to search for multiple files or files in a folder.

[2020-04-06 09:41] aelassas commented on #204
@janborup I added support for multiple files and folders in FileContentMatch. I will publish it in the v5.4.

[2020-04-06 13:12] jrose0414 commented on #202
Downloaded and installed. Thank you!

Sent from my iPhone

[2020-04-06 14:34] janborup commented on #204
Thanks for the enhancement.

I think I got a little lost in translations of my task, because the mission it not quite done yet.

As I wrote above, i need postman to watch a folder, and then move-files to different folders  depending on the content in the files.

Example Task:
Watch in c:\WexflowTesting\Watchfolder3\
-- Get a File from folder
-- If-FileContenctMatch = "abca" move file to c:\Wexflow

[2020-04-06 15:08] aelassas commented on #204
@janborup I updated the task to solve your issue. Now FilesContentMatch loads the file if the regex matches the content of the file.

Here is a sample workflow with your use case:

[code]

[2020-04-06 16:22] aelassas commented on #199
@jeremy-xu I added support for custom tasks to the .net core server. Now, you just have to copy the .dll and it will work. I will publish this feature in the v5.4.

[2020-04-06 17:47] smcgrawDotNet commented on #201
So; good news - bad new,

I downloaded the latest - tried it on all four browsers - the same issue.
I downloaded the source and I"m able to get that to run from VS 2017 - it
is running under 2017's local iisexpress edition. So, I think I'm suffering
some kind of server error when running the package.  I traced your set-up
scripts and can't seem to find anything (limit time to work on that).

By-th

[2020-04-06 18:00] aelassas commented on #201
@smcgrawDotNet Could you tell me what Chrome console says about the error?

I looked for vortex-win.data.microsoft.com in my code but couldn't find anything. I also analyzed all the source code and all the binaries with Windows Defender but couldn't find anything. Could you tell me where you found it?

[2020-04-06 19:59] janborup commented on #204
Great Thanks.

Have just testet the last code, with this change, but got an 'null Refrence Exception' error.

[code]

![image](https://user-images.githubusercontent.com/6866443/78599650-ccb01f80-7851-11ea-817c-9a7ddc0b54db.png)

I'm a missing something ?

[2020-04-06 22:11] janborup commented on #204
Yep... the parent 100 fixed "not invoked" FileMover for the second TaskId:2, FileContentMatch 'abca', but the taskId:1 is still not invoked for the first FileContentMatch for the 'abcb' in file3.txt

[code]

What i'm i missing.

[2020-04-06 22:23] janborup commented on #204
Have just found out that ALL files in a folder checked with FileContentMatch has to have a match before the Success is invoked, and thats why taskId 2 is fired, because all files contains 'abca'.

If I create at file4.txt with the content "You find nothing here", none of the Success (Task 1 or 2) is fired.

[2020-04-07 02:36] srinathgnath opened #207 "Wexflow core version is throwing "Invalid culture" error while run the app."
Wexflow core version is throwing "Invalid culture" error while launching the app using run.bat file.

[2020-04-07 05:24] aelassas commented on #207
Can you post the stack trace and details about the error?

[2020-04-07 09:45] aelassas commented on #204
@janborup Thanks for the pull request. Did you get it working for your use case?

[2020-04-07 09:58] janborup commented on #204
Yes - thanks @aelassas
The success fix solve the case, and it works fine.

[2020-04-07 09:58] #204 closed

[2020-04-07 16:40] srinathgnath commented on #207
I'm using .Netframework version now (https://github.com/aelassas/Wexflow/releases/download/v5.3/wexflow-5.3-windows-x64.exe), Just got the below logs from eventlogs:

Application: Wexflow.Server.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Globalization.CultureNotFoundException
   at System.Globalization.CultureInfo

[2020-04-07 16:55] aelassas commented on #207
@srinathgnath The problem is related to the database system. Just use another [database](https://github.com/aelassas/Wexflow/wiki/Databases) for the moment and it should be fine. Try [MongoDB](https://github.com/aelassas/Wexflow/wiki/MongoDB) for example.

Are you using Windows 10?

Also, what is your culture? Try [Get-Culture](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershel

[2020-04-07 17:07] srinathgnath commented on #207
I'm using windows 7. System culture:
![image](https://user-images.githubusercontent.com/35440448/78698637-9f568680-78d0-11ea-89e5-747c27c5c5ca.png)

[2020-04-07 17:17] aelassas commented on #207
@srinathgnath Ok thanks. Did you try MongoDB or another database system different from LiteDB?

[2020-04-07 17:35] aelassas commented on #207
@srinathgnath Can you go to C:\Wexflow\Database, compress that folder and send me the .zip to akram.elassas@gmail.com please. So I can figure out what's the problem with your database.

[2020-04-07 17:42] srinathgnath commented on #207
Sent. Check your mailbox.

[2020-04-07 18:06] aelassas commented on #207
@srinathgnath Thanks. I've connected my dev environment to the db you sent me but couldn't reproduce the issue. It worked fine. However, I opened an [issue](https://github.com/mbdavid/LiteDB/issues/1619) on LiteDB repo. I am using Windows 10. Maybe that's why I couldn't reproduce it.

Can you download [LiteDB studio](https://github.com/mbdavid/LiteDB.Studio/releases), and open your database with i

[2020-04-07 18:58] aelassas commented on #207
@srinathgnath I found the bug. It is related to the collation of the database. Can you try with the following database please?  Just copy the new Wexflow.db in C:\Wexflow\Database and tell me if it works.

[Wexflow.zip](https://github.com/aelassas/Wexflow/files/4446523/Wexflow.zip)

[2020-04-07 19:06] srinathgnath commented on #207
I changed db to sqllite and its working fine.

[2020-04-07 19:07] aelassas commented on #207
@srinathgnath Thanks. Can you switch back to LiteDB and test with the database file that I sent you please? I need you to this so I can fix the collation bug please.

[2020-04-07 19:13] srinathgnath commented on #207
yes, LiteDB also works fine now. Thanks

[2020-04-07 19:21] aelassas commented on #207
@srinathgnath Thanks! If you want to use the  .net core version on Windows, here is the database file you need to copy in C:\Wexflow-dotnet-core\Database

[Wexflow.zip](https://github.com/aelassas/Wexflow/files/4446607/Wexflow.zip)

[2020-04-07 19:21] #207 closed

[2020-04-07 19:23] srinathgnath opened #209 "Deploying as Server-client model in servers"
Can this be installed as Server client model in servers? And orchestrate tasks using web UI.

[2020-04-07 19:53] aelassas commented on #209
@srinathgnath Wexflow server can be installed on multiple servers but for the moment tasks orchestration is not supported yet.

[2020-04-07 19:54] aelassas commented on #203
@janborup I added the execution graph to the json view. Can you check it and tell me how you find it?

[2020-04-09 14:55] RingoKam opened #212 "Query Instance of a workflow?"
Is there a way to query for status of an a workflow instance? I have multiple instance running and would like to query the status of each.

Thank you 🙏

[2020-04-09 16:32] aelassas commented on #212
You can use http://localhost:8000/wexflow/workflow?w={id} but it will return the status of the first job only. I will add in the v5.4 a function that returns the status by job id.

[2020-04-09 19:15] RingoKam commented on #212
thanks for the quick response! How and where are the instances stored? I tried looking them up in the SQL table but can't seem to find it.

[2020-04-09 19:40] aelassas commented on #212
They are stored in memory for the moment but I am thinking about storing them in db to enable load balancing on multiple servers sharing the same db. I will let you know about the function returning job status.

[2020-04-10 16:05] aelassas commented on #212
@RingoKam I added /job?w={id}&i={guid} to retrieve information of a job of a workflow. I also added /jobs?w={id} to retrieve all jobs of a worfklow. These two new functions will be available in the v5.4. Now, I'm thinking about updating the manager page to include all jobs of a workflow + the ability to stop/suspend/resume each job in a popup.

[2020-04-10 16:23] janborup commented on #203
Hi @aelassas
The Execution Graph is working fine now and showing in JSON, and i like the Blockly Graph implementation.
GREAT.

[2020-04-10 16:28] janborup commented on #203
Now a follow decision (Mayby it should be in a new topic)
What about implementation of the LocalVariables of a workflow?
- Right now this is only able, in XML/JOSN, but should this be made in the designer by Flowy or Blockly ?
If you can made a decision, I could make a mock-up for it, if you like to.

[2020-04-10 16:41] aelassas commented on #203
@janborup Please open a new issue for this and tag it as enhancement. We can edit local variables in the editor but not in the designer yet. I think I will add them in the right panel of workflow settings.

[2020-04-10 17:37] janborup opened #213 "Designer: Edit LocalVariables"
We can edit local variables in the editor but not in the designer yet. I think I will add them in the right panel of workflow settings.

This should be the way to obsolete the Editor view.

[2020-04-10 17:44] janborup commented on #203
Extra Flowy designer implementations.
- Suport for Add multiple settings per workflow task.

[2020-04-10 21:31] aelassas commented on #213
@janborup Thank you for opening this issue. I will work on this as soon as possible to make it available for the v5.4.

[2020-04-11 08:57] aelassas commented on #71
@Luuk34 I added /disable/{id} and /enable/{id}. These two new functions will be available in the v5.4.

[2020-04-12 16:31] aelassas commented on #213
@janborup I added local variables to the designer. Can you test it on your side and let me know if it's ok? This feature will be available in the v5.4.

[2020-04-12 23:24] janborup commented on #213
Hi @aelassas

The add/edit/delete variables works fine (If you remember to Save the workflow)

**A little error:** If you open workflow 115, and then open workflow 114 - the localvariables from wf 115 is still active in the propoerties.

**Suggestion to Enhancement:**
- A localvariable should maybe be 2 lines, so the most content is revealed
- There should be a warning when open another wf or chan

[2020-04-13 10:05] aelassas commented on #203
@janborup I added multiple settings to designer. Can you test it and tell me how you find it?

[2020-04-13 10:37] aelassas commented on #213
@janborup I fixed the issues and updated the style of local variables. Can you test it again and let me know?

Can you open a new issue for this please and tag it as enhancement?

[2020-04-13 10:46] aelassas commented on #213
@janborup Now that I have added local variables and multiple settings to the designer, I'm going to remove the editor. What do you think about this?

[2020-04-13 14:22] janborup commented on #213
Thumb's up. 👍

I don't use the Editor view anymore.

Med venlig hilsen

Jan Borup Coyle

[2020-04-13 14:25] aelassas commented on #213
@janborup Ok thanks. I will remove the editor view.

[2020-04-13 15:37] janborup commented on #213
I have test again, and everything works fine now :-)
Case closed

[2020-04-13 15:37] #213 closed

[2020-04-13 15:46] janborup opened #216 "Designer: Autosaving / Warning"
In Designer, when open another workflow or change/click tab/menu, the workflow is not saved, and you have missed your changes.
The system should AutoSave the changes, or there should be a warning - "Workflow not saved [Save] - {Cancel]"
Autosaving could be a user setting - but default should be "ON".

[2020-04-13 16:05] janborup commented on #203
I have tested the support for multible settings, and this works fine. Check 👌

A little enhancement to this topic.
-  When using ex. Selectfile-setting in a task-setting to get the task-number, you cannot see the numbers of the other Flowy tasks, so simply nummerize the tasks in Flowy.

![image](https://user-images.githubusercontent.com/6866443/79136086-b6a1e200-7db0-11ea-8e76-6ca9f394aedb.png)

[2020-04-13 16:39] aelassas commented on #203
@janborup All done. I've just updated the designer with the little enhancement.

[2020-04-13 16:59] janborup commented on #203
Thanks the Task-Id, does the trick. 👍

New issue:
There is a layout error in "Mobile"-view, so when entering the designer, the Right-side Workflow-settings popin - is stuck, it's showing even it is slide in or slide out.
Don't think it's new layout error, saw it yesterday also.
Desktop view works fine.

**Here is mobile view in Chrome:**
![image](https://user-images.githubusercontent.com/6866443/7

[2020-04-13 22:32] aelassas commented on #203
@janborup I've fixed mobile layout issues in the designer. Can you try again an let me know if it is working fine now?

[2020-04-14 07:55] janborup commented on #203
Yep... the **Position: fixed**, solved the issue :-)

I don't see anymore issues in the designer, only some small CSS tidy up like aligning the checkboxes in the settings both in desktop/mobile (see above), but that can always be done.

Case closed.

[2020-04-14 07:55] #203 closed

[2020-04-14 10:32] janborup opened #217 "Designer: Period is not reloaded."
When entering a Workflow Period setting, it works fine but it's not reloaded next time opening.

CRON works fine.

![image](https://user-images.githubusercontent.com/6866443/79215483-e4883480-7e4b-11ea-8913-016390bfe462.png)

[2020-04-14 11:17] aelassas commented on #217
@janborup I fixed the issue. Can you test again and let me know if it is working fine now?

[2020-04-14 13:19] aelassas commented on #216
@janborup I added autosaving popup to the designer. Can you test it and let me know if it is working fine in the diagram view, in the json view and in the xml view?

[2020-04-14 14:48] janborup commented on #217
Hi...

I have ReTestet it on Net.Core, but now I maybe have another problem that crash the server, and think it a problem in the ExecutionGraph.

The Server now starts a custom workflow with a Period settings, but the Workflow breaks, and shut's down, so now.

![image](https://user-images.githubusercontent.com/6866443/79236431-3a210900-7e6d-11ea-9b3d-dc09f98762bd.png)
![image](https://user-images.

[2020-04-14 14:57] aelassas commented on #217
@janborup I have changed the database. Can you export your custom workflows, remove your database in C:\Wexflow-dotnet-core\Database run Wexflow.Scripts.LiteDB and try again?

[2020-04-14 15:16] janborup commented on #217
Yep... Deleting the Database, and the Server starts fine, but is same second i'm, importing the Workflow i think the "Autosave" startes the job with the "One second" periodic, and then the server breaks again, and it will not start up again.

[2020-04-14 15:20] aelassas commented on #217
@janborup I will investigate on this issue and let you know.

[2020-04-14 15:51] aelassas commented on #217
@janborup I fixed the issue. I've just updated LiteDB to the latest version (5.0.7) and it worked. Can you try and let me know if it is working on your side too?

[2020-04-14 16:05] janborup commented on #217
Yep... @aelassas

That solved the problem, and the Server don't breaks anymore, and Period setting loads fine.

[2020-04-14 16:05] #217 closed

[2020-04-14 16:12] janborup commented on #216
Yep... Saving dialog now works fine on "Browse" open-task, but changing menu-tabs, is still not saving the the Workflow.

![image](https://user-images.githubusercontent.com/6866443/79247665-1795ec80-7e7b-11ea-89bd-96bd9f9614f2.png)

[2020-04-14 20:15] aelassas commented on #216
@janborup I added autosaving on tab click. Can you test it and let me know if it is working fine on your side?

[2020-04-15 17:21] aelassas commented on #216
@janborup Can I close this issue?

[2020-04-15 18:20] janborup commented on #216
Yep .. works fine with tab/menu change also.

Case closed

[2020-04-15 18:20] #216 closed

[2020-04-15 22:59] aelassas commented on #212
@RingoKam I've just released the [v5.4](https://github.com/aelassas/Wexflow/releases/tag/v5.4). I added /job, /jobs and jobs view to the manager page in the backend.

[2020-04-16 04:02] aelassas commented on #199
@jeremy-xu I've just released the [v5.4](https://github.com/aelassas/Wexflow/releases/tag/v5.4). Can you test   the .net core version and custom tasks and let me know?

[2020-04-16 09:14] aelassas commented on #71
I released the [v5.4](https://github.com/aelassas/Wexflow/releases/tag/v5.4).

[2020-04-16 09:14] #71 closed

[2020-04-16 09:15] #14 closed

[2020-04-16 09:17] aelassas commented on #58
Workflows are now stored in [DB](https://github.com/aelassas/Wexflow/wiki/Databases) (MongoDB is supported). JSON format is now supported as well.

[2020-04-16 09:17] #58 closed

[2020-04-16 09:18] #63 closed

[2020-04-16 09:19] #64 closed

[2020-04-16 09:19] #69 closed

[2020-04-16 09:20] aelassas commented on #70
Now, when you click on a row you'll get the logs in a popup in the backend.

[2020-04-16 09:20] #70 closed

[2020-04-16 09:21] #112 closed

[2020-04-16 09:22] #73 closed

[2020-04-16 09:22] #116 closed

[2020-04-16 09:23] aelassas commented on #114
Now, you can add If, While and Switch in XML and JSON.

[2020-04-16 09:23] #114 closed

[2020-04-16 09:24] #113 closed

[2020-04-16 09:26] aelassas commented on #108
CosmosDB and MongoDB are now supported.

[2020-04-16 09:26] #108 closed

[2020-04-16 09:26] #103 closed

[2020-04-16 09:26] #96 closed

[2020-04-16 09:28] aelassas commented on #94
[Here](https://github.com/aelassas/Wexflow/wiki/Docker) is the documentation for creating Docker images.

[2020-04-16 09:28] #94 closed

[2020-04-16 09:29] #93 closed

[2020-04-16 09:29] #92 closed

[2020-04-16 09:30] #90 closed

[2020-04-16 09:30] #87 closed

[2020-04-16 09:31] aelassas commented on #81
Now the .net core nuget package works fine.

[2020-04-16 09:31] #81 closed

[2020-04-16 09:31] #88 closed

[2020-04-16 09:32] aelassas commented on #77
Just use the .net core version. It will work fine for this use case.

[2020-04-16 09:32] #77 closed

[2020-04-16 09:34] aelassas commented on #172
Just add your custom task to C:\Wexflow\TasksNames.json and C:\Wexflow\TasksSettings.json and it will show up in the designer.

[2020-04-16 09:34] #172 closed

[2020-04-16 09:35] #171 closed

[2020-04-16 09:36] #169 closed

[2020-04-16 09:37] aelassas commented on #166
The v5.4 should work fine.

[2020-04-16 09:37] #166 closed

[2020-04-16 09:37] #162 closed

[2020-04-16 09:38] #158 closed

[2020-04-16 09:39] #150 closed

[2020-04-16 09:40] aelassas commented on #148
Now, you can export and import workflows.

[2020-04-16 09:40] #148 closed

[2020-04-16 09:40] #147 closed

[2020-04-16 09:41] #144 closed

[2020-04-16 09:41] #142 closed

[2020-04-16 09:41] #127 closed

[2020-04-16 09:42] #126 closed

[2020-04-16 09:43] #173 closed

[2020-04-16 09:44] #175 closed

[2020-04-16 09:44] aelassas commented on #176
The v5.4 should work fine now.

[2020-04-16 09:44] #176 closed

[2020-04-16 09:45] aelassas commented on #178
Just follow the instructions in the documentation and it should work fine.

[2020-04-16 09:45] #178 closed

[2020-04-16 09:46] #179 closed

[2020-04-16 09:46] #180 closed

[2020-04-16 09:47] aelassas commented on #182
The Workflow_Ftp_download_tag sample should work fine for this use case.

[2020-04-16 09:47] #182 closed

[2020-04-16 09:48] #184 closed

[2020-04-16 09:49] aelassas commented on #187
@davelock Can I close this issue?

[2020-04-16 09:51] aelassas commented on #190
@benjstern Can I close this issue?

[2020-04-16 09:52] aelassas commented on #191
The command line client should work fine for this use case.

[2020-04-16 09:52] #191 closed

[2020-04-16 09:52] aelassas commented on #194
@amersasa90 Can you try the v5.4? Can I close this issue?

[2020-04-16 09:53] aelassas commented on #195
The v5.4 should work fine now.

[2020-04-16 09:53] #195 closed

[2020-04-16 09:54] aelassas commented on #198
@jeremy-xu Can you try the v5.4? Can I close this issue?

[2020-04-16 09:54] aelassas commented on #199
The v5.4 is working fine now regarding custom tasks for both the .net and the .net core version.

[2020-04-16 09:54] #199 closed

[2020-04-16 09:55] davelock commented on #187
Sure, Many thanks, David

On Thu, 16 Apr 2020, 10:49 Akram El Assas, <notifications@github.com> wrote:

[2020-04-16 09:55] #201 closed

[2020-04-16 09:55] #202 closed

[2020-04-16 09:55] #212 closed

[2020-04-16 09:56] #187 closed

[2020-04-16 10:27] aelassas commented on #188
@davelock Can you try the v5.4? Can I close this issue?

[2020-04-16 10:31] davelock commented on #188
Sure, thanks David

On Thu, 16 Apr 2020, 11:27 Akram El Assas, <notifications@github.com> wrote:

[2020-04-16 10:34] #188 closed

[2020-04-16 11:41] aelassas commented on #181
Custom tasks are now supported in the .net core version too in the v5.4.

[2020-04-16 11:41] #181 closed

[2020-04-16 13:19] #194 closed

[2020-04-16 13:19] #190 closed

[2020-04-16 13:19] #198 closed

[2020-04-16 16:37] bumblebee333 commented on #180
Sorry for the late response. The project changed into a full on python development due to in house expertise. I didn’t get to try this.

[2020-04-16 17:07] aelassas commented on #167
Sorry, I am not going to implement DynamoDB provider. Wexflow supports now [LiteDB](https://github.com/aelassas/Wexflow/wiki/LiteDB), [MongoDB](https://github.com/aelassas/Wexflow/wiki/MongoDB), [RavenDB](https://github.com/aelassas/Wexflow/wiki/RavenDB), [CosmosDB](https://github.com/aelassas/Wexflow/wiki/CosmosDB), [PostgreSQL](https://github.com/aelassas/Wexflow/wiki/PostgreSQL), [SQL Server](h

[2020-04-16 17:07] #167 closed

[2020-04-23 09:54] TinuS-OG opened #219 "SMB connect/disconnect"
Hi

I'm thinking of using Wexflow on a Windows machine. A frequent workflow should do a SMB connect (with the required credentials) to a Share on a Linux machine, check a folder for incoming files, process them, disconnect the SMB connection.

Unfortunately  your Network tasks so far don't serve such a possibility to include the temporary connection to a network share and end the connection after

[2020-04-23 10:03] TinuS-OG opened #220 "SSH connection to execute commands"
Hi

I saw your License Page (https://github.com/aelassas/Wexflow/wiki/License) and that you already are using SSH.NET (SSH.NET: An SSH library for .NET written in C# and under MIT license.)

I'm thinking of using Wexflow on a Windows machine. A frequent workflow should monitor the behaviour of a Linux machine. After finding a certain condition, the workflow should initiate a reboot of the Linux ma

[2020-04-23 11:07] #163 closed

[2020-04-23 11:32] aelassas commented on #220
@TinuS-OG I will create a new task for running SSH commands. This task will be available in the v5.5. For the moment, you can use powershell scripts and call them from Wexflow (by using [ProcessLauncher](https://github.com/aelassas/Wexflow/wiki/ProcessLauncher) task) to run your SSH commands.

[2020-04-23 11:37] aelassas commented on #219
@TinuS-OG I will try to work on this use case and make it available in the v5.5. For the moment, you can use batch scripts and call them from Wexflow (by using [ProcessLauncher](https://github.com/aelassas/Wexflow/wiki/ProcessLauncher) task).

[2020-04-23 11:59] TinuS-OG opened #221 "Hot folder Workflow Import storage"
Hi

In an earlier Version of Wexflow (Wexflow 4.6, Stored workflows in the database for better performance) you switched from a text based storage of the Workflows to a Database based Storage of them.

Before this change, it was possible to update the Workflow's text file with a new Version of it, the engine automatically did load the updated version of the Workflow during its run time. And immedi

[2020-04-23 12:21] aelassas commented on #221
@TinuS-OG This feature is still available. If you update the workflow from the designer (diagram/json view/xml view), the workflow will be reloaded automatically. You can check this in Wexflow logs. If you have several instances of Wexflow, you can make them share the same database and the reloading of workflows will work from an instance to another automatically. Also, if you import an existing w

[2020-04-23 16:35] TinuS-OG commented on #221
Yes, when a user is using the designer. But interesting would be an update without designer and user at stage.

Like, the backend service is running and checking again (as until Wexflow v4.5) the folder "C:\Wexflow\Workflows\" and would import and activate like a hot folder an updated Workflow (file).

Until then I was able to place an updated Workflow like "C:\Wexflow\Workflows\My_workflow.xml" a

[2020-04-23 16:57] aelassas commented on #221
@TinuS-OG  understand what you want. You want me to add a hot folder where if a new file is created or modified it will be imported, saved in the database, started if necessary and scheduled just like in older versions. I will add this feature in the v5.5. What about if the file is deleted from the folder, should we ignore it and do nothing or delete the workflow?

[2020-04-23 19:27] michaelstewartcopp opened #222 ""Approval" tab not showing up in the Backend header bar"
Please let me know if there's something I need to configure (I'm able to process approvals via the Wexflow Manager app):

![image](https://user-images.githubusercontent.com/64225294/80140884-020d7a80-857f-11ea-93e8-33ad9bb95675.png)

[2020-04-23 19:52] aelassas commented on #222
@michaelstewartcopp I removed Approval tab and added approval buttons in the manager tab. Just search for your approval workflows in the manager tab and you can approve/reject your approval workflows from the manager tab in the backend. I removed Approval tab because there was a lot of duplication between Approval and Manager tabs in the backend. Also, now there is parallel approval jobs support f

[2020-04-23 20:17] michaelstewartcopp commented on #222
Sounds good - thanks Akram

[2020-04-23 20:17] #222 closed

[2020-04-24 07:12] TinuS-OG commented on #221
Good point! I think, it makes the most sense to delete the workflow in this case, because there's no other option to do so. of course it would be possible to just disable a workflow by sending a new file. But I'm with you, deleting makes the most sense.

[2020-04-24 07:50] aelassas commented on #221
Ok great. I will work on this as soon as possible.

[2020-04-24 14:25] hersam opened #223 "Paragraph on email body message"
How to make a paragraph on the email body message.

Thank you for your great job on wexflow
BR
HerSam

[2020-04-24 16:06] aelassas commented on #221
@TinuS-OG I added a hot folder for workflows. Now, if a new file is created or modified it will be imported, saved in the database, started if necessary and scheduled just like in older versions. If the workflow file definition is deleted the workflow is deleted. I also added sync between the designer and the hot folder. If you edit a workflow from the designer, the workflow file definition is upd

[2020-04-24 16:24] aelassas commented on #223
@hersam Just set **isBodyHtml** to true in [MailsSender](https://github.com/aelassas/Wexflow/wiki/MailsSender) task and use CDATA in the xml input file as follows:

[code]

[2020-04-25 15:28] aelassas commented on #220
@TinuS-OG I added [SshCmd](https://github.com/aelassas/Wexflow/wiki/SshCmd) task to execute SSH commands. You will be able to reboot a Linux machine from a workflow. This task will be available in the v5.5. I will notify you once I release it.

[2020-04-25 20:23] rocaseres opened #224 "Cannot rename my file"
Hello, everyone:
I have been trying to rename a file (FilesRenamer) and zip it at the same time using wexflow. Although I could zip it,I cannot change the name. Does anyone know what am I doing wrong?
![Captura](https://user-images.githubusercontent.com/51235147/80289995-e63ddc00-8718-11ea-88aa-c946d243e913.PNG)
![Captura2](https://user-images.githubusercontent.com/51235147/80289996-e76f0900-8718-

[2020-04-25 20:49] aelassas commented on #224
@rocaseres Here is sample workflow where a file get renamed then zipped:

[code]

The file file1.txt is renamed to file1_renamed.txt then zipped in output.zip.

Here is ListFiles.xslt:

[code]

[2020-04-25 21:56] rocaseres commented on #224
Thank you so much for your help! I tried to solve my problem, but I still have issues. This is what is going on. Wexflow gets my file from a website, but it does not have any extension. So, I tried to rename it as a .zip and then get its extension. Unfortunately, when the program zips it, the extension does not appear. Here is the XML code and XSLT file in case it gives you more information.
![XSL

[2020-04-25 22:35] aelassas commented on #224
@rocaseres Just to understand what you are trying to do. You download a zip without extension then you add .zip extension with FilesRenamer. Is this what you want to do?

[2020-04-25 23:10] rocaseres commented on #224
Yes, that's right. The file I want to download is .zip. I would like to get it with the .zip extension or rename the file in order to convert it into .zip. I hope I'm clear

[2020-04-26 00:24] janborup opened #225 "PollingFileSystemWatcher"
Now you have implemented the PollingFileSystemWatcher class, why not use us it for a new TaskItem entry, that vil expand FilesExists.

Today FileExists is only True/False and has to be Periodic/CRON.
Why not Wait for file created/change/delete then Do... or a While File .....

/Cheers.

[2020-04-26 09:37] aelassas commented on #224
@rocaseres There are two errors in your workflow. You should use Http task instead of HttpGet and your Xslt must be fixed.

Here is a working workflow:

[code]

And here is ConvertirZIP.xslt:

[code]

[2020-04-26 12:54] aelassas commented on #225
@janborup For this, I think that I will add a new task named FileSystemWatcher.

When a workflow reaches FileSystemWatcher task, it will stay there until it is stopped manually.

Below is a prototype workflow using this task. Tell me what do you think about this.

[code]

[2020-04-26 13:09] janborup commented on #225
@aelassas Absolutely fine.

**Easy to understand, and easy to maintain.**

I think many of my future Workflows will depend on this FileSystemWatcher task, and maybe this will be a kickstarter for starting sub-workflows

<Workflow xmlns="urn:wexflow-schema" id="42" name="Workflow_FileSystemWatcher" description="Workflow_FileSystemWatcher">
	<Settings>
		<Setting name="launchType" value="startup" />

[2020-04-26 13:19] aelassas commented on #225
@janborup Great! Thanks for your feadback. I will work on this new task as soon as possible.

[2020-04-26 19:14] aelassas commented on #225
@janborup I have just finished [FileSystemWatcher](https://github.com/aelassas/Wexflow/wiki/FileSystemWatcher) task. Can you please pull the latest version and test it please. [Here](https://github.com/aelassas/Wexflow/blob/master/samples/dotnet-core/windows/Wexflow/Workflows/Workflow_FileSystemWatcher.xml) is a sample workflow for .net core. You must create HotFolder, Folder1 and Folder2 in C:\We

[2020-04-26 19:17] janborup commented on #225
Yes.... I followed your work, and I will give it at test try. Thanks.

This task is a great asset for Wexflow 😁😎

[2020-04-26 19:55] janborup commented on #225
**Test several steps with this task in .Net Core, and everything is working smooth 😋😎**

I only found 2 little funny issues:
I have changed the workflow-type to "startup", and when I stop the server with Ctrl+C, the server exits with this error:

Another not related problem is the last days the Wexflow DashBoard is repeating the workflows, but don't know if it means anything.
![image](https://user

[2020-04-26 19:59] janborup commented on #225
Another related issue.
It the workflow-type is "startup", you cannot stop/start the job.

![image](https://user-images.githubusercontent.com/6866443/80318247-254b5a80-8809-11ea-88a3-d695aaa1329a.png)

[2020-04-26 20:26] aelassas commented on #76
@khullarsunil I added [FileSystemWatcher](https://github.com/aelassas/Wexflow/wiki/FileSystemWatcher) task for both .net and .net core. This task watches a hot folder and triggers tasks on file created, changed or deleted. This task will be available in the v5.5. I will notify you once I will release it.

[2020-04-26 22:19] aelassas commented on #225
@janborup For duplicated entries on the dashboard on startup, I fixed the issue. For stopping FileSystemWatcher workflow, it is also fixed. I added the ability to stop workflows in .net core

Can you pull the latest version and test again please?

[2020-04-26 23:17] janborup commented on #225
Nope.... Now something else is broke in the .Net Core version.
The serser won't start...

![image](https://user-images.githubusercontent.com/6866443/80322361-d6abb980-8824-11ea-98ce-0c0dc9320ffc.png)

[2020-04-26 23:36] aelassas commented on #225
@janborup I usually get this error when the port 8000 is used by another instance of Wexflow. Check that the port 8000 is free and try again. Otherwise, reboot your computer and try again. I don't get this error on my side.

[2020-04-27 12:04] janborup commented on #225
@aelassas Yes... I had a conflict with a double Wexflow Service installation, so that's why the socket was occupied.

Just testet the rest of the FileWatcher, also with multiple Watches, and this also works fine.

Below is a very good example, on Watching a folder, and sending a notification on change.
[code]
Case closed - Good job. 👍

[2020-04-27 12:18] TinuS-OG commented on #221
Hi Akram
I'm quite impressed on how fast you have implemented this quite helpful extension!! Even more useful than I was thinking of with the feature of having the hot folder for workflows and the designer always in sync.

You have done a really good job with your Wexflow project, congratulations!

Greetings, Martin

[2020-04-27 12:28] TinuS-OG commented on #220
Hi Akram

Perfect! You were super-fast to implement this extension! Great work you do!

Greetings, Martin

[2020-04-27 13:38] rocaseres commented on #224
It worked! Thank you so much!

[2020-04-27 13:41] aelassas commented on #224
Glad that it worked for you.

[2020-04-27 13:41] #224 closed

[2020-04-27 13:42] aelassas commented on #223
@hersam can I close this issue?

[2020-04-27 21:47] janborup opened #227 "Failsafe task creation."
I think it's time to eliminate some dummy-error, when a user creates a new workflow.

Many tasks have several mandtory entries, some optional and some can be multiple.

When you in designer start drag-drop a task, the entries list is always blank, so you always have to click new setting, fill out, new setting fill out, etc. but you have really no idea what's mandatory, optional or multiples.

A pr

[2020-04-27 21:55] aelassas commented on #219
@TinuS-OG SMB/CIFS is now supported by all the .NET tasks. To connect, simply read the following [documentation](https://github.com/aelassas/Wexflow/wiki/SMB). This new feature will be available in the v5.5.

I also added [FileSystemWatcher](https://github.com/aelassas/Wexflow/wiki/FileSystemWatcher) task for files monitoring. And the good news is that it supports SMB/CIFS too. This new task is al

[2020-04-27 22:14] aelassas commented on #227
Nice feature. I will try to work on it in a future version. It will require an update in TasksSettings.json and in the designer. But for the moment the only way to avoid errors is to read the documentation and see the workflow samples in the wiki or in Wexflow.

[2020-04-28 03:47] #223 closed

[2020-04-28 10:51] hersam commented on #223
Hi Akram,

I am sorry for the delay to reply.
Thank you very much, it works for me.

You can close this issue.

Thank you to work on this good workflow system

Cheers
Heri Samuel

On Mon, Apr 27, 2020 at 8:42 PM Akram El Assas <notifications@github.com>
wrote:

[2020-04-28 11:16] aelassas commented on #227
@janborup I added safe task creation to the designer. Can you please test it on your side? You must update C:\Wexflow-dotnet-core\TasksSettings.json to [the following one](https://github.com/aelassas/Wexflow/blob/master/samples/dotnet-core/windows/Wexflow/TasksSettings.json) for .net core. For .net, you must update C:\Wexflow\TasksSettings.json to [the following one](https://github.com/aelassas/We

[2020-04-28 15:06] janborup commented on #227
This is much better.  😎

Some small issues.
1. In Task-MailsSender the "EnableSSL" is a requied field, and the server breaks if it's not filled out.
![image](https://user-images.githubusercontent.com/6866443/80501248-81c88a00-896f-11ea-9b0c-823101f8d46f.png)

2. In Task-FileSplitter the "chunkSize" is a required field.

3. In Task-FTP the "server", "port", "user", "password" is required fields.

4

[2020-04-28 15:29] janborup commented on #227
May a suggest a fieldtype validation as well in the TaskSettings.json.
I had changed the file below with the most common types, "taskId", "string", "int" and "bool"
[TasksSettings.zip](https://github.com/aelassas/Wexflow/files/4546830/TasksSettings.zip)

[2020-04-28 16:17] aelassas commented on #227
@janborup All fixed. Thanks! Regarding incremental task ids and field types I will work on that in the v5.6. Now, I am working on releasing the v5.5 this week. Keep this issue open for the moment.

[2020-04-29 08:23] aelassas commented on #76
@khullarsunil It's here! Wexflow 5.5 just released 🎉. It includes [FileSystemWatcher](https://github.com/aelassas/Wexflow/wiki/FileSystemWatcher) task for files monitoring for both .net and .net core. This task watches a hot folder and triggers tasks on file created, changed or deleted.

[2020-04-29 08:28] aelassas commented on #221
@TinuS-OG It's here! [Wexflow 5.5](https://github.com/aelassas/Wexflow/releases/tag/v5.5) just released 🎉. This version icludes all the features you requested:
- [Hot folder](https://github.com/aelassas/Wexflow/wiki/Hot-folder)
- [SMB/CIFS](https://github.com/aelassas/Wexflow/wiki/SMB) support
- [SshCmd](https://github.com/aelassas/Wexflow/wiki/SshCmd) task for running SSH commands
- [FileSystemWa

[2020-04-29 09:21] aelassas commented on #227
@janborup I added incremental task id to the designer. Can you please pull the latest version, test it and let me know if it is working fine on your side? Now, I will work on filed types.

[2020-04-29 10:16] aelassas commented on #227
@janborup For field types, I used the following ones: int, string, bool, password and list. For list, I added "List" property that contains the possible values. I will also add field validation. Can you please check [TasksSettings.zip](https://github.com/aelassas/Wexflow/files/4551076/TasksSettings.zip) for .net and let me know if it is correct please?

[2020-04-29 14:55] janborup commented on #225
A little important enhancement to this.

Would you please implement at task-setting:
<Setting name="onWatchStarted" value="2,3" />

The problem is, when the WexFlow has been down or first time you start WexFlow, and there is new files i a folder, the Watch does not do anything, so if there is files in the Watch folder, do this task..

Thanks.

[2020-04-29 15:22] aelassas commented on #225
@janborup Do you want me to add onFileFound event? This event will trigger tasks on each file found in the hot folder before starting to watch the hot folder.

[2020-04-29 15:39] janborup commented on #225
Yes. Very fine🏌️‍♀️

Med venlig hilsen

Jan Borup Coyle

[2020-04-29 17:36] aelassas commented on #227
@janborup I added field type to the designer for both .net and .net core. Please pull the latest version, update your TasksSettings.json by the following [one](https://github.com/aelassas/Wexflow/blob/master/samples/dotnet-core/windows/Wexflow/TasksSettings.json) for .net core and let me know if it is working fine on your side for both field types and incremental id. If you can test .net also, tha

[2020-04-29 18:05] aelassas commented on #225
@janborup I added onFileFound event to FileSystemWatcher for both .net and .net core. This event is triggered on file found before starting watch process. Can you pull the latest version and test it please?

[2020-04-30 08:13] mepowerlmay opened #228 "Hello, is this a case that the team is maintaining?"
s the title

[2020-04-30 09:04] aelassas commented on #228
@mepowerlmay what is your question?

[2020-04-30 11:47] #76 closed

[2020-04-30 11:49] aelassas commented on #123
@akleine01 I added a field type password to the designer. This feature will be available in the v5.6.

[2020-05-01 09:00] #228 closed

[2020-05-01 09:00] aelassas commented on #227
@janborup Can I close this issue?

[2020-05-01 09:00] aelassas commented on #225
@janborup Can I close this issue?

[2020-05-01 09:01] aelassas commented on #221
@TinuS-OG Did you try the v5.5? Can I close this issue?

[2020-05-01 09:01] aelassas commented on #220
@TinuS-OG Can I close this issue?

[2020-05-01 09:02] aelassas commented on #219
@TinuS-OG Can I close this issue?

[2020-05-02 22:07] rocaseres opened #230 "Is it possible to create a post request sending JSON parameteres to an API REST in Wexflow?"
Good evening, everyone.
I have some trouble trying to get a file from an API REST.
What I want to do is to create a post request sending JSON parameteres to an API REST. I don't know if this is possible in Wexflow.
Thank you.

[2020-05-02 23:03] aelassas commented on #230
@rocaseres Sorry this feature is not available yet. I will add it in the upcoming version.

[2020-05-03 00:00] #225 closed

[2020-05-03 00:05] janborup commented on #230
@rocaseres
https://github.com/aelassas/Wexflow/wiki/RESTful-API
You can send JSON POST parameters to the variables of a task, it this a solution for you ?
/Cheers

[2020-05-03 04:13] hrkknt20001 opened #231 "Is it possible define to that await for completion of multiple tasks in the Execution Graph ?"
Hello.

I find how to branch parallel task to define the Execution Graph under [link.](https://github.com/aelassas/Wexflow/wiki/Samples#execution-graph)
Then I want to know define of Execution Graph to awaiting multiple tasks completion.

Is it possible in the Wexflow ?

Thank you.

[2020-05-03 08:03] aelassas commented on #231
@hrkknt20001 You cannot wait for multiple tasks to complete at the same time. You can only wait for task completion task by task.

[2020-05-03 13:51] hrkknt20001 commented on #231
Thank you.
I understood.

[2020-05-03 13:51] #231 closed

[2020-05-04 07:22] #220 closed

[2020-05-04 07:23] #221 closed

[2020-05-04 07:23] #219 closed

[2020-05-04 14:20] TinuS-OG commented on #219
Dear Akram
You have developed and released this very appreciated extension of wexflow much too fast for me. I haven't yet had the time to get the v5.5 and look into it. I will work on this feature in the next 2-3 weeks and in case I'll find something, I'll let you know again.

Thank you very much for your ongoing hard work on your project, you're doing great!

Greetings, Martin

[2020-05-04 14:20] TinuS-OG commented on #220
Dear Akram
You have developed and released this very appreciated extension of wexflow much too fast for me. I haven't yet had the time to get the v5.5 and look into it. I will work on this feature in the next 2-3 weeks and in case I'll find something, I'll let you know again.

Thank you very much for your ongoing hard work on your project, you're doing great!

Greetings, Martin

[2020-05-04 14:21] TinuS-OG commented on #221
Dear Akram
You have developed and released this very appreciated extension of wexflow much too fast for me. I haven't yet had the time to get the v5.5 and look into it. I will work on this feature in the next 2-3 weeks and in case I'll find something, I'll let you know again.

Thank you very much for your ongoing hard work on your project, you're doing great!

Greetings, Martin

[2020-05-05 12:31] shrike71 opened #232 "Is there a specific reason or tech constraint why the SQL Tasks are not available in the .NET Core version of the application?"
Specifically, the group of tasks listed here:

https://github.com/aelassas/Wexflow/wiki/Tasks-documentation#sql-tasks

It looks like you have full cross-platform support for a number of databases. Since abundant functionality exists in .NET Core and parallel libraries such as Entity Framework to allow these kinds of tasks to run on a .NET Core deployment, I was surprised why this is not available.

[2020-05-05 12:36] aelassas commented on #232
@shrike71 I added Sql tasks to .net core in the v5.6. Sql, SqlToCsv and SqlToXml tasks will be available for .net core in the upcoming version.

[2020-05-05 12:41] shrike71 commented on #232
Thanks for the super quick reply!

Looking forward to the next release

P

[2020-05-05 12:42] #232 closed

[2020-05-11 17:49] aelassas commented on #232
@shrike71 I have just released the [v5.6](https://github.com/aelassas/Wexflow/releases/tag/v5.6). Now, Sql, SqlToCsv and SqlToXml tasks are available for .net core and other tasks too.

[2020-05-11 17:49] aelassas commented on #123
@akleine01 I have just released the [v5.6](https://github.com/aelassas/Wexflow/releases/tag/v5.6).  I added a field type password to the designer.

[2020-05-11 17:49] #123 closed

[2020-05-11 17:50] #227 closed

[2020-05-11 17:51] aelassas commented on #230
@rocaseres  I have just released the [v5.6](https://github.com/aelassas/Wexflow/releases/tag/v5.6). It is now possible to create a post request and send JSON payload to an API REST in Wexflow.

[2020-05-11 17:51] #230 closed

[2020-05-11 17:53] aelassas commented on #183
It is now possible to create [approval workflows](https://github.com/aelassas/Wexflow/wiki/Approval-workflows) on generic business objects such as documents, invoices, purchase orders, vacation requests, time sheets, etc. These generic business objects are called records.

[2020-05-11 17:53] #183 closed

[2020-05-11 17:55] aelassas commented on #160
@man75 Multi-language support is now available. Check out the [documentation](https://github.com/aelassas/Wexflow/wiki/Multi-language).

[2020-05-11 17:55] #160 closed

[2020-05-11 17:56] #157 closed

[2020-05-11 17:57] aelassas commented on #74
It is now possible to create [approval workflows](https://github.com/aelassas/Wexflow/wiki/Approval-workflows) on generic business objects such as documents, invoices, purchase orders, vacation requests, time sheets, etc. These generic business objects are called records.

[2020-05-11 17:57] #74 closed

[2020-05-11 18:32] janborup opened #234 "Wexflow Record use."
Hi

I'm trying to find out how this Webflow Records works.

I have created a record - Check !
I have uploadet af document for the record - Check !

Now I want to Approve this record - How do I do this - the "Approved" button is deactivated. ?
Now I want to assign this record to a user - How do I do this - The "Assign to" is deactivated ?

![image](https://user-images.githubusercontent.com/6866443/

[2020-05-11 18:49] aelassas commented on #234
@janborup You must create a new approval workflow in the designer and drag and drop ApproveRecord task in the designer, select your record in the task settings and select the user assigned to the record in the task settings. Finally, go to Approvals tab and kick off your approval workflow in order to assign the record to the user.

[2020-05-11 20:23] janborup commented on #234
Okay..
- I created a Workflow for this a test record with an "ApproveRecord".
- I assigned it to a user.
- I Logged in as this user, and there was a notification
![image](https://user-images.githubusercontent.com/6866443/81606609-adb62780-93d3-11ea-8ef2-abb54213b6f2.png)

Now there is a lot of notifications, but all with the same line.:
`"An approval process on the record Test has started. You mus

[2020-05-11 21:00] aelassas commented on #234
@janborup The user can only add files and comments on the record. It's the manager who approves the record. Generally, the user who started the approval workflow.

[2020-05-11 21:45] gertus opened #235 "Task dll dependencies"
Hi,

I keep getting en error where the dependency dll of my task dll cannot be loaded?
I even get that when running wex server from Visual Studio and referencing the task dll project and dependency dll project in both WexFlow.Core and WexFlow.Server

Please help :)

-----------------------------------------------------------------------------------------

2020-05-11 23:32:37.132 INFO - [Send Entit

[2020-05-12 01:40] palmtreefrb opened #236 "Sequential workflows runtime"
I need to embed Sequential workflows into an existing .net core app. The requirements are that the user will need to add the sequential workflow, and one or many tasks at runtime. Is this functionality available in Wexflow?

Thanks,
Rick

[2020-05-12 02:25] aelassas commented on #235
@gertus What are the dependencies of your task?

[2020-05-12 02:34] aelassas commented on #236
It is possible to load one or many tasks at runtime from **Tasks** folder. It is also possible to load sequential workflows at runtime from the designer or from **Workflows** hot folder.

[2020-05-12 05:55] gertus commented on #235
Hi, I have some bussiness layer dll that is required by the task. Like crystal reports etc, to generate a report and then email it out in specific conditions.

Another enhancement I think would be great is to allow for assembly name to be specified   In config when adding a custom task as I want to have more than one task in one dll. This allow me to version my tasks and group similar tasks in one

[2020-05-12 10:32] aelassas commented on #235
@gertus Just put all the dlls used by your custom task and your custom task in C:\Program Files\Wexflow. This should work. If you want to use it in the source code, reference your custom task and all the dlls used by your custom task in Wexflow.Server project. This should work too.

[2020-05-12 12:23] janborup commented on #234
Hi Again

I don't get what i'm doing wrong.
If I in a Workflow assign a record to a user like "RecordCreator", then this user cannot approve the record only add documents, is that right ?
The record is allready uploadet with a document, how do i sent this to a approver, and how to the approver see the attached documents ?

/Jan

[2020-05-12 12:31] aelassas commented on #234
@janborup If the user assigned to the record adds a document, the approver will recieve a notification. The approver can see the attachments by opening the record in Records tab.

Here is a brief overview of an approval flow:

1. Create a record (The manager can delete records. The user assigned to a record can modify the record by uploading new file versions and adding comments but he cannot dele

[2020-05-12 13:02] palmtreefrb commented on #236
Thank you for the response. Your answer leeds me to ask another question. The tasks added will be of a datetime, the user will choose a datetime in the future to have the event executed.

Thanks,
Rick

[2020-05-12 13:31] gertus commented on #235
Eventually I found my issue being the 32 vs 64 bit issue. Different project had different settings.
Another question, is there a way to setup a flow, that trigger periodically, to not trigger again until the previous run completed? ie the same flow do not run concurrently in 2 threads? Is this achieved by unchecking "Enable parallel jobs" on designer ?

[2020-05-12 14:39] aelassas commented on #235
@gertus Yes, just uncheck  "Enable parallel jobs" and the next job will wait until the previous one has completed.

[2020-05-12 14:43] aelassas commented on #236
@palmtreefrb Datetime data type is supported but there isn't a date time picker in the designer yet. The user will have to set the date time field in a text box for the moment.

[2020-05-12 18:17] janborup commented on #234
Okay.. Now I got the Record-WorkFlow (**RWF**) to work, but I think there is serveral flaws, if this  should be functional and more user friendly.

First the issues i experienced:
- If you are a SuperAdministrator, you can create a RWF, with an Administrator assigned as approver, but the SuperAdministrator can Approve the same record self, and there i no logging about who has approved the record.

[2020-05-12 19:15] aelassas commented on #234
@janborup I understand what you want to do. You want to create a hot folder for records and auto create and auto start the approval workflow automatically once the record's file is imported in the database from the hot folder. I will work on that in the v5.7.

[2020-05-12 21:08] janborup commented on #234
@aelassas
Yep.... The Hotfolder RWF AutoCreate function will save a lot of manual time on creation.

My concerns was also about the Approval-tab, because if you are a manager approver, you actually only want it to be very simple and informative in the "Approval-Tab/page":
1. Click to see the next document and who has assigned it (Only started jobs)
2. Maybe set at comment - Shortcut: Save
3. Click

[2020-05-13 02:06] rocaseres opened #237 "Cannot download a JSON file from an APIREST"
Good evening:
I have been trying to download a JSON file from an API REST using the new Wexflow 5.6 version that was recently uploaded, but I could not make it work.
I think the JSON does not download correctly. Do you have any examples that I could use?
Here is the XML file that shows what I did. Thank you in advance.
[rocaseres.txt](https://github.com/aelassas/Wexflow/files/4619408/rocaseres.txt

[2020-05-13 02:35] aelassas commented on #237
@rocaseres I fixed the issue. Can you try the following things:

1. Stop Wexflow service
2. Backup the existing copy of Wexflow.Tasks.HttpPost.dll in C:\Program Files\Wexflow
3. Copy paste the new [Wexflow.Tasks.HttpPost.dll.zip](https://github.com/aelassas/Wexflow/files/4619471/Wexflow.Tasks.HttpPost.dll.zip) in C:\Program Files\Wexflow
4. Start Wexflow service
5. Kick off your workflow

I added

[2020-05-13 18:57] rocaseres commented on #237
Ok, thank you.
I tried to fix my issue, but I cannot make it work. Here is what I did and the error that comes up.
{"detail":"JSON parse error - Expecting value: line 1 column 1 (char 0)"}
Another little comment in case you didn't notice: I tried to use the new optional setting (type), but it does not appear in the Designer. However, I can use it in the XML section.
Thank you in advance!
[ejemploJ

[2020-05-13 19:27] aelassas commented on #237
@rocaseres Now I understand your POST request. I updated HttpPost task. Can you please try the following steps:
1. Stop Wexflow service
2. Backup the existing copy of Wexflow.Tasks.HttpPost.dll in C:\Program Files\Wexflow
3. Copy paste the new [Wexflow.Tasks.HttpPost.dll.zip](https://github.com/aelassas/Wexflow/files/4624170/Wexflow.Tasks.HttpPost.dll.zip) in C:\Program Files\Wexflow
4. Start Wexf

[2020-05-14 12:17] rocaseres commented on #237
Thank you for putting so much effort in my issue. You really helped me. It works now!

[2020-05-14 12:18] #237 closed

[2020-05-14 13:27] #235 closed

[2020-05-14 13:28] #236 closed

[2020-05-14 14:07] gertus opened #238 "Dashboard"
Hi,

is this the call use for the bottom section on the dashboard?
http://localhost:8000/wexflow/searchHistoryEntriesByPageOrderBy?s=&from=0&to=99999&page=0&entriesCount=1000&heo=0

[2020-05-14 16:11] aelassas commented on #238
@gertus Here is the call used for the bottom section on the dashboard:

http://localhost:8000/wexflow/searchEntriesByPageOrderBy?s=&from=1589472362588&to=1589558762588&page=1&entriesCount=10&heo=1

Here are the request headers:

[code]

You can also use Swagger UI from a web browser at http://localhost:8000/ to test this API call.

[2020-05-14 19:22] gertus commented on #238
perfect, thank you.

[2020-05-14 19:22] #238 closed

[2020-05-16 05:02] gertus opened #239 "Pause WorkFlow"
Hi, is there a method to pause / delayed a workflow that have started, from within a task in the WorkFlow? Say I have a WF that need to run each month on the 5th, but should the 5 th be on a weekend, then the task need to "pause" and only continue on Monday, similar logic needed for public holidays.?

[2020-05-16 05:48] aelassas commented on #239
Yes, you can pause a running instance of a workflow from within a task through [Workflow](https://github.com/aelassas/Wexflow/wiki/Workflow) task.

Here is a sample workflow that contains a task that pauses a workflow:

[code]

For the moment there is an issue while pausing a workflow from Workflow task but this will be fixed in the v5.7.

[2020-05-16 05:56] aelassas commented on #234
@janborup I added multiple approvers feature and a hot folder for importing records which by default is C:\Wexflow\Records\\_HotFolder. These features will be available in the v5.7.

If you want to test importing records, pull the latest version and add this setting in Wexflow.xml:

[code]

[2020-05-16 07:09] gertus commented on #239
So I would need to do the pause via api from within the task also. There is no short cut?;)

Sent from mobile

[2020-05-16 07:32] gertus opened #240 "Task definition"
Would it be possible to change the program, to allow for more than one Task definition in the same dll.
IE the loader should be directed ,via config, to which dll it should look, to load the requested task.

Also a Assembly resolve event, can be used to advise the loader where to get hold of dependency dll's of the task dll. IE where to get the business rules dll, that is used by the task definiti

[2020-05-16 07:35] gertus commented on #239
Would it be possible for you to send me a sample .net program, that can be used to save a new workflow via json, as I cannot get mine working?

Please. I load it via file on the designer, but would like to push it from another application.

Last question :) I am also looking for a .net forms application that can help the user build the quarts cron? Any suggestions?

Regards

Gert Cloete

Cell: 082

[2020-05-16 07:51] aelassas commented on #239
@gertus Yes, you can use the api also to pause a workflow. There is no shortcut for the moment other than Workflow task and the api.

Regarding json, you can use webclient or httpclient. You must set authorization header. Here are some samples of api calls: https://github.com/aelassas/Wexflow/blob/master/src/net/Wexflow.Core.Service.Client/WexflowServiceClient.cs

Make sure that your json payload

[2020-05-16 08:23] gertus commented on #239
Thank you for all the quick responses.
I have the api working for reporting etc, but I cannot get my save for the json workflow working. :(
Please paste some complete sample here that just create an approval task via api json save method.

[2020-05-16 11:40] aelassas commented on #239
@gertus Here is a complete sample that creates an approval task via JSON API and save method:

[code]

[2020-05-16 12:19] gertus commented on #239
Great thank you! I will try / compare to mine in a bit.

Any ideas on the quarts cron win forms editor?

I must say your support for your product is of a high standard!

Gertus
Sent from mobile

[2020-05-16 13:15] aelassas commented on #239
@gertus You can inspire from [CronMaker](http://www.cronmaker.com) to create your own cron expression builder. You can also inspire from [Cron expression generator - Quartz](https://www.freeformatter.com/cron-expression-generator-quartz.html). But, be aware that Wexflow is using Quartz cron expressions. UNIX cron expressions and Quartz ones are different. in Unix, cron expressions are as follows (

[2020-05-16 13:19] janborup commented on #234
Hi @aelassas

I have testet the _hotFolder to -> Record, and this works fine. 👍 - but no RWF is autocreated for this.

I think you missed the [RecordWorkflowImports.xml.txt](https://github.com/aelassas/Wexflow/issues/234#issuecomment-627509938) template file I suggested above, because this takes care of multible Hotfolders, with multible Workflow templates, because normally VendorInvoices, Service

[2020-05-16 13:36] aelassas commented on #234
@janborup I like the TemplateFileImport:

1. FileSystemWatcher task (Watching record's hotfolder)
2. ApprovalRecordCreator task (Creates records from files in hotfolder)
3. ApprovalWorkflowCreator task (Settings - Record: From Importer - AssignedTo:  a user from settings - LaunchType: StartUp)

I will try to work on RecordCreator and ApprovalWorkflowCreator tasks in the v5.7.

For multiple approve

[2020-05-16 16:37] janborup commented on #234
Hi

Regarding the multible Approvers, I have done all above Step 1 - 7 by the book, and nothing fails.

Still in the Record, it's only the first approver for "Admin" visible in the list, not the second one.
![image](https://user-images.githubusercontent.com/6866443/82125012-461d2500-97a3-11ea-8e2f-83bf0e9bdf00.png)

[2020-05-16 17:06] aelassas commented on #234
Did you do the following steps:

3. Create a second approval workflow with only one ApproveRecord task on
the same record record R.
4. Create a super admin user named *approver*.
5. Login as *approver* user and start the second workflow.
6. *Approve the second workflow using the user approver.* (At this point,
go to records tab and click on your record R to see if *approver* user was
added)
7. Log

[2020-05-16 17:08] janborup commented on #234
Okay

I only got it to work one time, but only if approver from the Second WF approves first, and the approver from first WF approves last, and that is even if both WF is started from the beginning.

The problem is also if both approvers is SuperAdmins, then in Approval-tab, both jobs is visible for both users for approval, and still in Approval-tab / job.... you have absolutely no idea about what

[2020-05-16 17:27] aelassas commented on #234
@janborup If the two approval workflows are running in parallel, you can approve the first workflow first or second it is the same thing. To check that the approvers were added, once you start the second workflow go to records tab, refresh the page and click on the record, you will see the two approvers with approved flag set to false (unchecked). Once, you start approving the record, you can refr

[2020-05-16 18:58] aelassas commented on #240
@gertus Why do you need to put multiple tasks in the same dll? Regarding dependencies, just copying them in C:\Program Files\Wexflow works.

[2020-05-16 19:32] gertus commented on #240
I were trying to groups certain tasks into groups based on the business purpose they fulfill.

Only reason for the dependency folder was just to keep my code and the your library code separate yet integrate it.

Sent from mobile

[2020-05-17 10:58] janborup commented on #239
hi.
Use launchtype Cron, and this expression "0 0 8 ? 1/1 MON#1 *", that should do your job.
/Cheers

[2020-05-17 11:58] gertus commented on #239
Can you explain how that work to have the correct output? So I can learn?;)

Sent from mobile

[2020-05-17 12:39] gertus commented on #239
This wil force it to next Monday where I am more looking for next business day after date selected if selected date is not a business day. Need to by dynamic as country holiday etc need to be taken into account also;)

Sent from mobile

[2020-05-17 15:45] janborup commented on #234
Hi @aelassas

Just testet ApprovalRecordCreator-task, and is works fine 👌

/Cheers

[2020-05-17 16:04] janborup commented on #234
A lille test problem with the ApprovalRecordCreator

I create this workflow:
![image](https://user-images.githubusercontent.com/6866443/82153462-dcb31a00-9867-11ea-9850-5d322d3f9d3e.png)

Then i drop 2 or more files in the import folder.
Only the some of files is Record-created.

Maybe it's a delay problem. !!!

[2020-05-17 17:26] aelassas commented on #234
@janborup All fixed. Can you pull the latest version and try again? Also, you don't need FilesRemover task because files are moved from FileSystemWatcher folder to Records folder in ApprovalRecordsCreator task.

[2020-05-17 18:27] janborup commented on #234
Hi @aelassas

I just fetch latest, YES - now it works like a charm. 😎

Then it only the last part of the automatisation.. the 3. ApprovalWorkflowCreator task

I will test this when you are ready.

/Cheers

[2020-05-17 19:04] aelassas commented on #234
@janborup I have just added ApprovalWorkflowsCreator task. Just pull the latest version, update your TasksNames.json and TasksSettings.json, add ApprovalWorkflowsCreator into your workfow, set approver and assignedTo settings, update FileSystemWatcher task and test.

ApprovalWorkflowsCreator creates an approval workflow for the record and starts it. This task must always be after ApprovalRecordsCr

[2020-05-18 07:31] Chengal1207 opened #241 "Is it possible to use OAuth2.0 rather basic authentication."
My requirement is, I want to use OAuth2.0 for authentication rather than basic authentication for all the APIs.
I see the current way of authentication API's are based on Basic authentication.

[2020-05-18 07:35] gertus commented on #239
This works great, In RestSharp you need to add the payload in a specific way, else the server do not detect the body correctly. See options below

Dim req2 As New RestRequest("save", Method.POST)
 AddAuthHeader(req2)
'Working option
 req2.AddParameter("text/json", JsonConvert.SerializeObject(wexRequest), ParameterType.RequestBody)
'Do not work option
'req2.AddParameter("Body", payload)

[2020-05-18 07:35] #239 closed

[2020-05-18 07:37] gertus opened #242 "searchHistoryEntriesByPageOrderBy"
This called I would guess is used by the Dashboard, yet when I call it, it does not return the "current running" tasks, like displayed on the dashboard. Do I need to do something special to get them included?

[2020-05-18 07:47] gertus opened #243 "Api > Reject Approval"
Documentation state the rest url is:

POST http://localhost:8000/wexflow/disapprove?w={id}&i={id}
Rejects an instance of a workflow.

yes the call is :
reject?w={id}&i={id}

[2020-05-18 07:53] gertus commented on #242
I need to use: searchEntriesByPageOrderBy

[2020-05-18 07:53] #242 closed

[2020-05-18 11:38] aelassas commented on #243
@gertus All fixed. I updated the documentation.

[2020-05-18 12:02] hieu-lam opened #244 "Batch processing of long-running task"
Hi,

I have a workflow that loads all files in a folder and processes them. The workflow has many tasks, some of which are long-running and could last for hours for each file whereas some can be processed pretty fast and ready to move on to the next tasks. This introduced a bottleneck problem where finished files need to wait for other files to be completed before moving on.

One of the solutions

[2020-05-18 12:17] aelassas commented on #244
@hieu-lam If you have a lot of files to handle, what you can do is to use [FileSystemWatcher](https://github.com/aelassas/Wexflow/wiki/FileSystemWatcher) task in combination with [Workflow](https://github.com/aelassas/Wexflow/wiki/Workflow) or [SubWorkflow](https://github.com/aelassas/Wexflow/wiki/SubWorkflow) tasks and choose async mode. This way, you can process each file in a dedicated thread.

[2020-05-18 12:22] aelassas commented on #241
@Chengal1207 Yes, the current authentication for API calls is Basic Access Authentication. You can use OAuth 2.0 but to do that you must update all the API and this will require a lot of work. I am not planning to do that for the moment but when I will switch to OAuth 2.0 I will let you know.

[2020-05-18 12:37] Chengal1207 opened #245 "How to send email notification and provide options to Approve/Suspend.Reject from email body itself"
How to send email notification and provide options to Approve/Suspend.Reject from email body itself

[2020-05-18 12:37] Chengal1207 commented on #241
Thank you @aelassas

[2020-05-18 12:47] aelassas commented on #245
@Chengal1207 To include approve/suspend/reject in a email body, you can use [Wexflow API](https://github.com/aelassas/Wexflow/wiki/RESTful-API) (approve/suspend/reject methods) and create a web page where the user have three buttons/links (approve, suspend and reject) then once the user clicks on one of the buttons/links you perform a POST call to Wexflow API using jQuery or XmlHttpRequest.

[2020-05-18 12:52] Chengal1207 commented on #245
Thank you @aelassas. it would be helpful if you have any samples around it. Because I have to send the email with link to Approve/reject/Suspend using workflow id as dynamic.

[2020-05-18 13:22] aelassas commented on #245
@Chengal1207 Here is a working sample for approve:

[code]

[2020-05-18 20:37] janborup commented on #234
**Hi @aelassas**

**Very good Job done, i have testet this RecordFileImportFlow both in Windows.Net and in .Net Core, and in both environments the fileflow works great. 😎👍**

I had a little stange issue when testing, because if an Approver [Reject] a record, the WF stops and nothing happens.
If the WF is then again started, but then [Stopped] by the Appover, it creates a second Approver for the cr

[2020-05-18 21:01] aelassas commented on #234
@janborup Yes, this is done by design. If you stop the approval workflow and start it again all the approved approvers are deleted and the new ones are added during the approval flow.

Did you test deleteWorkflowOnApproval setting in FileSystemImport? You don't have to configure anything, deleteWorkflowOnApproval is by default set true in ApprovalWorkflowsCreator task. Just pull the latest version

[2020-05-18 21:26] janborup commented on #234
Yes. Sure..

Ii tested the deleteWorkflowOnApproval In both versions, and it works like a charm. 🤩

I think we got the goal for this issue, and then we take a more user friendly Approval overview, in another topic.

Thanks - good work. 😁

[2020-05-18 21:26] #234 closed

[2020-05-18 21:30] #243 closed

[2020-05-19 01:56] Chengal1207 opened #247 "How to pass output of one task as input of another task without selectFiles?"
How to pass output of one task as input of another task without selectFiles?
E. G: I have custom api's one api output in one task I have to use as input of another task.

[2020-05-19 03:42] aelassas commented on #247
@Chengal1207 You can use [shared memory](https://github.com/aelassas/Wexflow/wiki/Custom-tasks#shared-memory) between tasks.

[2020-05-19 08:07] #244 closed

[2020-05-19 09:18] hieu-lam opened #248 "Handle events on Task level"
Hi, currently the events OnSuccess, OnError, OnWarning, OnApproval, OnRejected belong to the workflow level. That means if a task failed so the whole workflow failed.

Is there a way to handle exception/error/warning on Task level? Something like:
"If task 3 fails, perform task 4. If task 4 fail, perform task 5. Otherwise, perform task 6".

Thanks in advance.

[2020-05-19 11:15] aelassas commented on #248
@hieu-lam Yes, events are on workflow level. If all the tasks of a workflow fail then OnError event is triggered. If only one task fails and other succeed then OnWarning event is triggered. If all the tasks succeed, then OnSuccess event is triggered. For the moment, events are not supported on task level.

[2020-05-19 12:00] Chengal1207 opened #249 "Request to Approve the Workflow by Manager and above"
Below are my requirements, As an end-user, I have to place a request to my manager to approve my request.
1. I have to trigger create a new workflow and when I place a leave request from my application this workflow should get triggered.
2. Once the workflow triggered, the request has to go to my manager for approval with mail. Once, he approves then my request is fulfilled.

Another case:
If the

[2020-05-19 12:58] aelassas commented on #249
You can use [Wexflow API](https://github.com/aelassas/Wexflow/wiki/RESTful-API) to do that from your application.

You can create a record and use [ApproveRecord](https://github.com/aelassas/Wexflow/wiki/ApproveRecord) task and start the workflow as manager user using [Wexflow API](https://github.com/aelassas/Wexflow/wiki/RESTful-API). You must create a new user in Wexflow for the manager. [Here](

[2020-05-19 13:08] clvnong opened #250 "Date format error"
**Describe the bug**
I using docker to run the system. When I try to update record, but get the error message saying that update failed.
I was referred to container log to get more information and I get the actual error message as below:-
System.FormatException: String '19-05-2020 10:49:04' was not recognized as a valid DateTime.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Record

[2020-05-19 13:14] clvnong opened #251 "API - Approval"
Hi Aelassas,
I am getting the following error when try to use API for approval. However, I can do the same successfully in version 5.4.

![image](https://user-images.githubusercontent.com/48722009/82330645-b206c400-9a15-11ea-880a-e8b22cd4ca45.png)

[2020-05-19 13:46] janborup opened #252 "FileSystemWatcher - file used by another process"
Hi

I have FileSystemWatcher flow (Windows Service.net), and sometimes without no clue, the WexFlow make an error "The process cannot access the file <file> because it is being used by another process".

I can rename the file - stil fails.
I can change the file - stil fails.
I can create new files in same folder - Wexflow runs this.
I remove the file, move it back - then WexFlow runs it without fa

[2020-05-19 13:59] aelassas commented on #250
@clvnong Thank you for reporting this. I reproduced the issue and fixed it. The fix will be available in the v5.7.

[2020-05-19 14:06] aelassas commented on #252
@janborup Can I see your XML workflow definition with FileSystemWatcher task?

[2020-05-19 16:17] Chengal1207 commented on #249
@aelassas Thanks for the update. I have one more question.
Is it possible to approve multiple approvers at the same level? Because I was doing some integration work and both the team managers need to approve then only I should proceed to the next step? is it possible?

[2020-05-19 17:05] aelassas commented on #249
@Chengal1207 It will be possible in the v5.7. The v5.6 only supports one approver per record.

[2020-05-19 22:07] drewfreyling commented on #155
The other use case would be more uptime because you could bring down your servers one at a time for updates (i'm thinking of using more than one pod/replica in kubernetes here).

[2020-05-20 02:22] clvnong commented on #251
Hi Aelassas,
Yes, it works as expected. Thanks

[2020-05-20 03:33] ThinkDevSteve opened #253 "WexFlow"
Hi there,
Two issues:

I don't seem to be able to disable a workflow at all.

In the designer how do I edit an existing Workflow - if I export a workflow I can import it back, but I can't import a workflow that I have saved using Ctrl+S

One Question:

Can I create 1 dll with a load of tasks in it, rather than a dll per task.

Steve

[2020-05-20 03:39] #251 closed

[2020-05-20 03:50] aelassas commented on #253
@ThinkDevSteve To disable a workflow, uncheck 'Enabled' checkbox in workflow settings panel on the right side of the designer then press Ctrl+S to save the changes. Regarding the import, I will check it later today but if you save your workflow then export it then import it, it should work. Even if you change your workflow and don't save it, if you export it then import it it should work too. Rega

[2020-05-20 03:59] ThinkDevSteve commented on #253
Thanks for the prompt response appreciated.
Straight after I sent the question, I found the Browse button, and from there things started working Ok.
The Export then Import works for me, but not the Save then Import.

[2020-05-20 03:59] #253 closed

[2020-05-20 04:14] aelassas commented on #252
@janborup The problem of FileSystemWatcher in .net is that if a new file is created in the watched folder it raises onCreate one time and onChange multiple times in parallel. That's why you're getting this error. The workaround is to either use onCreate event only or use the .net core version. With the .net core version, you will not get this error because PollingFileSystemWatcher only raises one

[2020-05-20 04:36] clvnong opened #254 "API - Workflow Start"
**Describe the bug**
The return instance Id always is the previous Id.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'API - Start'
2. Provide Workflow Id '170'
3. Click on 'Execute'
4. Record the instance Id
5. Go to 'API - Jobs'
6. Provide Workflow Id '170'
7. Repeat 1 to 6
8. Will see the error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](h

[2020-05-20 04:47] clvnong commented on #254
Hi @aelassas,
Correction:-
The response instance Id always not returned the current executed workflow instance when using API-Workflow Start. It always getting previous instance Id randomly.

[2020-05-20 05:19] Chengal1207 opened #255 "Enable Parallel jobs in Workflow scalable"
Is there any limit with the number of jobs we are creating i.e trigger the same approval workflow for 100K users at the same time. How scalable it is to use for production with these many requests at the same time? Any analysis details we have.

Another question, we are using the Thread.Sleep(500) in the approval task. will there be any issues if the workflow is not approved for several days? and

[2020-05-20 06:56] #250 closed

[2020-05-20 07:17] Chengal1207 opened #256 "while stating the Workflow, how to send the update the settings value inside the tasks dynamically"
Steps to reproduce:
I have created a workflow with FilesLoader task as below
 {
            "Id": 1,
            "Name": "FilesLoader",
            "Description": "Loading mails",
            "IsEnabled": true,
            "Settings": [
                {
                    "Name": "file",
                    "Value": "$mailPath",
                    "Attributes": []
                }

[2020-05-20 08:23] aelassas commented on #255
@Chengal1207 No, there is no limit. If you trigger an approval workflow for 100K, there will be a dedicated thread for each user.

Regarding Thread.Sleep, It should do the job even if the approval flow last several days.

[2020-05-20 08:30] aelassas commented on #256
@Chengal1207 If you start your workflow with http://localhost:8000/wexflow/startWithVariables it should work. You can start it from Swagger by opening http://localhost:8000 in a browser.

[2020-05-20 09:02] janborup commented on #252
**Hi @aelassas**

Here is the WorkFlow.  It's a Wexflow Windows Service Ver. 5.6

`<Workflow xmlns="urn:wexflow-schema" id="201" name="OIOXML to OIOUBL (SEK)" description="Converts OIOXML to OIOUBL (SEK)">
	<Settings>
		<Setting name="launchType" value="startup" />
		<Setting name="enabled" value="true" />
		<Setting name="approval" value="false" />
		<Setting name="enableParallelJobs" value="fals

[2020-05-20 09:10] janborup commented on #252
If I understand you correctly, I should not use the OnChange... ""

I try change this WF, and give you a reply, if it solves the problem.

/Cheers

[2020-05-20 09:23] aelassas commented on #254
@clvnong I reproduced the bug and fixed it. The fix will be available in the v5.7. Thank you for reporting this.

[2020-05-20 11:01] aelassas commented on #252
@janborup The bug seems to be fixed in the latest version. Can you pull the latest version and test the .net version. I have setup your workflow in Wexflow and tested it. It works fine on my side without any exception.

[2020-05-20 19:02] aelassas commented on #254
@clvnong I released the [v5.7](https://github.com/aelassas/Wexflow/releases/tag/v5.7) today. Can you please check that the bugs that you reported are fixed in this version.

[2020-05-20 19:03] aelassas commented on #252
@janborup I released the [v5.7](https://github.com/aelassas/Wexflow/releases/tag/v5.7) today. Can you please check that this bug is fixed in this version and that your workflow runs without throwing the exception?

[2020-05-20 19:24] aelassas commented on #237
@rocaseres I released the [v5.7](https://github.com/aelassas/Wexflow/releases/tag/v5.7) today. It contains the fixes.

[2020-05-20 19:26] aelassas commented on #249
@Chengal1207 I released the [v5.7](https://github.com/aelassas/Wexflow/releases/tag/v5.7) today. Now, you can have multiple approvers per record. Check out the [documentation](https://github.com/aelassas/Wexflow/wiki/Approval-workflows#all-must-approve).

[2020-05-21 04:05] clvnong commented on #254
Hi @aelassas,
It is working fine with version 5.7. Thanks

[2020-05-21 04:05] #254 closed

[2020-05-21 06:43] aelassas commented on #245
@Chengal1207 can I close this issue?

[2020-05-21 06:44] aelassas commented on #247
@Chengal1207 can I close this issue?

[2020-05-21 06:45] aelassas commented on #249
@Chengal1207 can I close this issue?

[2020-05-21 06:46] #255 closed

[2020-05-21 06:47] aelassas commented on #256
@Chengal1207 can I close this issue?

[2020-05-21 06:47] Chengal1207 commented on #249
Thanks @aelassas. you can close this

[2020-05-21 06:55] #249 closed

[2020-05-21 06:57] Chengal1207 commented on #247
Yes @aelassas, you can close this

[2020-05-21 06:57] Chengal1207 commented on #245
Yes @aelassas, you can close this.

[2020-05-21 06:57] Chengal1207 commented on #241
Yes @aelassas, you can close this

[2020-05-21 06:58] #247 closed

[2020-05-21 06:59] #241 closed

[2020-05-21 07:00] #245 closed

[2020-05-22 12:07] clvnong opened #257 "Approval Record"
**Describe the bug**
Show the wrong approver

**To Reproduce**
Steps to reproduce the behaviour:
1. Login as 'wexflow' user, then create new record and new workflow for ApprovalRecord.
2. Assigned to 'admin' user. Navigate to Approval tab and start the workflow.
3. Logout from 'wexflow', then login as 'admin'.
4. Navigate to Approval tab and make approval.
5. Login back as 'wexflow', then open the

[2020-05-22 17:47] aelassas commented on #257
@clvnong Thank you for reporting this. I reproduced the bug and fixed it. The fix will be available in the v5.8.

[2020-05-22 18:08] aelassas commented on #252
@janborup Did you test the v5.7?

[2020-05-22 18:27] janborup commented on #252
sorry not tested yet.

Have been on vacation

I will return.

Med venlig hilsen

Jan Borup Coyle

[2020-05-23 07:58] clvnong commented on #257
Thanks @aelassas

[2020-05-23 07:58] #257 closed

[2020-05-23 08:00] #256 closed

[2020-05-24 11:45] clvnong opened #258 "API - Start Workflow with variables"
Hi @aelassas,
I had done 2 test on Local Variables.
First test with setup the variable value at designer (hardcoded the value). When run the workflow and it works as expected.
![image](https://user-images.githubusercontent.com/48722009/82753213-83626200-9df6-11ea-8fb8-8854321549e5.png)

Second test I was trying to use API - Start Workflow with Variables. However, I get file not found error.
![imag

[2020-05-24 12:21] aelassas commented on #258
@clvnong No, it is not due to invalid JSON. You must remove the local variables from the workflow settings panel if you want to use REST variables. Once you remove them, it should work as expected.

[2020-05-24 12:55] clvnong opened #259 "Designer - MailSender"
Hi @aelassas,
I found the below minor issue on MailSender task:-
By default if not checked the 'EnableSsl' will hits error when clicked save (Ctrl+S).
If I were checked and un-checked the 'EnableSsl', then the save function will works fine.

[2020-05-24 12:59] clvnong commented on #258
Hi @aelassas,
Yes, it is working as described. Thanks

[2020-05-24 12:59] #258 closed

[2020-05-24 13:33] aelassas commented on #259
@clvnong Thank you for reporting this. I reproduced the issue and fixed it.

[2020-05-25 02:52] clvnong commented on #259
Hi @aelassas, Thanks

[2020-05-25 02:52] #259 closed

[2020-05-28 07:01] aelassas commented on #252
@janborup Are you still facing this issue in the v5.7?

[2020-05-28 08:48] janborup commented on #252
Hi @aelassas

Yes,,, there is still a issue, but i'm not sure precisely how it fails.

I have installed the newest Wexflow Windows.net v.5.7, and
I have a simple... 1.FileWatch.. 2. Wait 3 sec... 3. Copy files.

In some cases when the files are copied, the files copied contains blank, and this is visible to see this is an error, but even sometimes, the files are cut in half, so only half of the fi

[2020-05-28 13:45] aelassas commented on #252
@janborup Try to increase the wait timeout and see if it solves your issue.

[2020-05-29 08:17] janborup opened #260 "Designer XML/JSON not Autosaved."
If you make changes in XML or JSON view, and just click the [Diagram] button, and click back to XML, all your changes is lost.
Please prompt for Auto save, when doing this.

[2020-05-29 09:09] mielune opened #261 "Docker Hub doc missing a command"
**Describe the bug**
Looking for the Docker doc on DockerHub, some instructions are missing
Copy of the interne folders failed.

**To Reproduce**
Read the doc and follow instructions.

**Expected behavior**
Copy of the interne folder is working.

**Screenshots**
![image](https://user-images.githubusercontent.com/8350742/83242196-48688180-a19c-11ea-95e1-11a2fabd518a.png)

**Desktop:**
 - OS: Ubuntu

[2020-05-29 13:15] aelassas commented on #261
@mielune I updated the [instructions](https://hub.docker.com/r/aelassas/wexflow). Thank you for reporting this.

[2020-05-29 13:15] #261 closed

[2020-05-29 16:42] aelassas commented on #260
@janborup All fixed. Can you pull the latest version and test it please? Here are the use cases to test:
1. Edit Xml switch to diagram
2. Edit Xml switch to graph
3. Edit Xml switch to json
4. Edit Json switch to diagram
5. Edit Json switch to graph
6. Edit Json switch to xml

[2020-05-30 13:32] janborup commented on #260
Perfect. 🗡️  👌

[2020-05-30 13:32] #260 closed

[2020-05-31 18:31] rocaseres opened #262 "Is it possible to create a custom task in order to copy a value to a following task?"
Hello,
I tried to download a .zip file using Wexflow.  I didn't have any trouble so far, but I was wondering if it's possible to code this idea I have. Here is what I did:
First, I get the name of the file from an URL. Then, I want to assign that name to an http task, so I can download the file. Is it possible to assign a value (the URL I'm tying to download) from a previous custom task to an http

[2020-05-31 18:42] aelassas commented on #262
@rocaseres No, it's not possible to do that but what you can do is to download your file in your custom task. You can see the source code of HttpPost task to help you do that.

[2020-05-31 18:59] rocaseres commented on #262
Ok! Thank you very much

[2020-06-01 15:23] janborup commented on #252
@aelassas

I'm using this in a production enviroment, so to make sure the files is working, I had to break the workflow into two, so first indentity the files with FileWatcher, copy them, and then move the files, and it it fails moving, I try doing the same again, but there is still no backstop to ensure the file are finished an closed by the other process.

If the FileWatcher could have a "Contin

[2020-06-03 01:13] MostHated opened #264 "[Request] Add "Run Powershell Script" - Usability feedback"
**Is your feature request related to a problem? Please describe.**
Similar to the "Run C# Script", it would be nice to be able to just pop in the path of the Powershell script you want to run and that is that. I still can't seem to get one to run using ProcessLauncher.

Trying to get a script to run in the gui feels very unintuitive. I kept getting errors when trying to save as well, but with no h

[2020-06-03 12:39] #262 closed

[2020-06-03 12:41] aelassas commented on #252
@janborup I reproduced the issue and fixed it. I added some updates to your pull request. Now, FSW will wait until the file is not locked in order to trigger the event. Can you try again and let me know if it is fixed on your side too?

[2020-06-03 12:52] aelassas commented on #264
@MostHated You can run PowerShell scripts using ProcessLauncher task as follows:

[code]

For the manager, just search for your workflow by name or id then select it then click on start to kick it off.

[2020-06-03 19:51] rocaseres opened #265 "Possible solution"
Last week, I had an issue. I tried to pass a variable from a task to another one, but @aelassas told me that this was not possible.
So, I kept on trying to solve this and I found a solution.
What I did was to create two workflows. So the first workflow could change a variable from the second one. Here is what I coded:
[ISVConvierteCSV.txt](https://github.com/aelassas/Wexflow/files/4725874/ISVConvi

[2020-06-03 20:44] janborup commented on #252
@aelassas

Testet lasted source, at it still works fine with the SafeMode in both Windows.Net and .Net Core.

Case closed

[2020-06-03 20:44] #252 closed

[2020-06-03 20:56] aelassas commented on #265
@rocaseres Thanks for your feedback.

[2020-06-03 20:56] #265 closed

[2020-06-05 10:04] mielune commented on #261
After step 3, I think it will be a good practice to add
[code]

[2020-06-05 11:41] aelassas commented on #261
@mielune All fixed. I updated Docker Hub instructions.

[2020-06-06 17:42] #264 closed

[2020-06-06 17:43] #122 closed

[2020-06-07 09:30] BvdB020 commented on #75
This would be a nice feature. We are currently looking into feature this also.

[2020-06-08 14:01] slav-petkov-saorsa opened #266 "Schedule workflow tasks start time"
Hi, is it possible to schedule the different workflow tasks to start at different time?
For example, let's have a workflow with two task - file loader and file copier.
Is it possible to start the file loader task at 9:30 am every day and the file copier task - at 10:30 am?

[2020-06-08 14:14] aelassas commented on #266
@slav-petkov-saorsa No, but you can put Wait task between FilesLoader and FilesCopier in order to start FilesCopier 1h after FilesCopier.

[2020-06-08 14:32] #266 closed

[2020-06-08 14:33] slav-petkov-saorsa opened #267 "Nested flowchart tasks"
Hi, I have a question. Is it possible to have nested flowchart tasks? For example:

![image](https://user-images.githubusercontent.com/63452375/84042803-36fa5300-a9ae-11ea-9ea7-422e90125b6f.png)

[2020-06-08 14:53] aelassas commented on #267
@slav-petkov-saorsa Yes it is possible. You can put a nested flowchart node in another flowchart node but you must do that in the XML definition of the workflow. The JSON definition of a workflow does not support nested flowchart nodes yet. You can also put nested flowchart nodes in workflow events OnSuccess, OnError, OnWarning and OnRejected.

[2020-06-08 15:04] slav-petkov-saorsa commented on #267
Thanks for the answer. I'll close the issue now.

[2020-06-08 15:04] #267 closed

[2020-06-09 12:52] aelassas commented on #75
@rootjj @BvdB020 I added local variables, rest variables and date interpolation to MailsSender task. Here is a sample input XML:

[code]

Here is a sample workflow:

[code]

This feature will be available in the v5.8.

[2020-06-09 12:52] #75 closed

[2020-06-09 13:06] slav-petkov-saorsa opened #268 "Flowchart re-executing task used in <If> condition"
Hello,

When I create a flowchart like this
[code]
, the task with id 99 gets executed. Is there a way to execute it prior to the If node and then access the result without executing it again?

[2020-06-09 13:12] aelassas commented on #268
@slav-petkov-saorsa The flowchart task gets executed only once to get the result. Can I see your execution graph?

[2020-06-09 13:21] slav-petkov-saorsa commented on #268
[code]

[2020-06-09 13:44] aelassas commented on #268
@slav-petkov-saorsa I understand what you are trying to do. No, you cannot get the if result without executing the task.

[2020-06-09 13:47] slav-petkov-saorsa commented on #268
Thank you for the answer.

[2020-06-09 13:47] #268 closed

[2020-06-10 09:41] BvdB020 commented on #75
oh, wow, didnt expect to have it solved so soon!
I will make some workflows and test it as soon as 5.8 is out.
Thanks, aelassas!

[2020-06-10 22:50] janborup opened #269 "FileWatcher - Task triggers"
Hi @aelassas

Windows.Net v5.8:
I still got some problems with the FileWatcher-Tasks, because the "OnFileFound" and "OnFileCreated" are not fired even if the workflows is set to startup, and even If I restart the service "Wexflow" the files in the FileWatched-folders is not run, after a restart

![image](https://user-images.githubusercontent.com/6866443/84325664-90fc4380-ab7b-11ea-8ca2-964ec7bfd00

[2020-06-10 22:57] janborup commented on #75
@aelassas

Will it be a small change to ParseVariables on the From, To, CC and BCC as well, because then you can use the same template to several Workflow by just changing the Localvariable.

[code]

[2020-06-11 11:58] aelassas commented on #75
@janborup All done. I added variables parsing to from, to, cc and bcc as well.

[2020-06-11 12:42] aelassas commented on #269
@janborup If you don't set the workflow to statup, do the events fire? Also, can you ckeck the logs please?

[2020-06-12 11:32] aelassas commented on #269
@janborup I faced this issue when I was working on your pull request because of return; statements that I replaced with while loops but now I cannot reproduce the issue. Did you fetch the latest version of the source code and test it?

[2020-06-12 15:48] janborup commented on #269
Hi @aelassas
Yes - i created a build 2 days ago,  and this still has the problem, but as this is in production, I had to replace all FileWatcher tasks with a FileLoader and change LauchType to periodic, to get it work seamlessly, do this is still a problem with the FileWatcher.

[2020-06-12 15:57] aelassas commented on #269
@janborup ok, I will do some testings on fsw task and let you know.

[2020-06-12 18:41] janborup commented on #269
At all time the workflow starts fine, and shows "Started" in dashboard, but sometimes the FWT start don't runs the files, not even at Wexflow service restart.
The LauchType is "StartUp" on all my FWTs

[2020-06-12 20:58] aelassas commented on #269
@janborup Can you fetch the latest version and test FSW with safeMode set to true and EnableWorkflowsHotFolder set to false in Wexflow.Server\App.config:

[code]

Also, can you read the logs in Wexflow.log file when your FSW workflows starts in order to understand what's happening. Check FileSystemWatcher.OnFound and FileSystemWatcher.OnCreated events.

I have done some heavy testings on FSW with

[2020-06-13 11:51] jlmrobles opened #270 "If, While and Switch in Flow Designer"
Hello Akram,

First of all congratulations for your great work.

I have a doubt. How can I design into your flow designer IF, WHILE and SWITCH task/node? I have tried to do it but I couldn't.

I'm looking forward to hearing from you,

Best,

José

[2020-06-13 12:07] aelassas commented on #270
Hi @jlmrobles

You have to switch to XML or JSON view in the designer and add If, While or Switch flowchart nodes in the execution graph of the workflow.

Here is a sample If workflows: Workflow_FileExists1

[code]

Here is a sample Switch workflow: Workflow_Switch

[code]

You can find a sample While workflow in Workflow_ExecutionGraph sample.

[2020-06-14 22:52] haseres opened #271 "I Cant find soure code of Sync Wexflow.Tasks.Sync"
![captura](https://user-images.githubusercontent.com/63476765/84605966-07e55500-ae78-11ea-90c5-967b4c634411.png)
I tried to look for the file that contains the code which allows Wexflow to Sync, but I could not find it. I am interested in how is this done.

[2020-06-15 00:18] aelassas commented on #271
@haseres Sync task was removed since v5.6. [Here](https://github.com/aelassas/Wexflow/tree/865a561b290321d6d562b7da56874c17baf8c40c/src/dotnet/Wexflow.Tasks.Sync) is its source code.

[2020-06-15 00:22] haseres commented on #271
Thanks

[2020-06-15 00:32] #271 closed

[2020-06-15 00:41] #270 closed

[2020-06-16 10:55] allabhanuprakashreddy opened #272 "Setting values not replaced by Rest API JSON object when running multiple instances of same workflow"
Hi @aelassas,

I see Issue when I am running Multiple instances of same workflow.

Steps to reproduce the behavior:
------------------------------------
1. Created simple Workflow with one task.
2. Override Run method. (I have some computational work which takes time)
3. I have started second instance before first one completed.
4. I see none of the settings values are replaced from Rest API if th

[2020-06-16 11:43] aelassas commented on #272
@allabhanuprakashreddy Where do you update the setting values? and how do you update them?

[2020-06-16 11:55] allabhanuprakashreddy commented on #272
Thanks for the quick reply. Below is the sample Workflow I have provided. This is triggered from Swagger (StartWorkflowWithVariables).

<?xml version="1.0" encoding="utf-8"?>
<Workflow id="1232" name="Workflow_Order" description="Workflow_Order" xmlns="urn:workflow-schema">
  <Settings>
    <Setting name="launchType" value="trigger" />
    <Setting name="enabled" value="true" />
    <Setting name=

[2020-06-16 11:56] allabhanuprakashreddy commented on #272
<?xml version="1.0" encoding="utf-8"?>
<Workflow id="1232" name="Workflow_Order" description="Workflow_Order" xmlns="urn:workflow-schema">
  <Settings>
    <Setting name="launchType" value="trigger" />
    <Setting name="enabled" value="true" />
    <Setting name="approval" value="false" />
    <Setting name="enableParallelJobs" value="true" />
  </Settings>
  <LocalVariables />
  <Tasks>
    <Tas

[2020-06-16 13:12] aelassas commented on #272
@allabhanuprakashreddy you mean that $orderId does not get updated until the first instance finishes. Right?

[2020-06-16 13:16] allabhanuprakashreddy commented on #272
@aelassas  Yes you are right.

[2020-06-16 14:21] aelassas commented on #272
@allabhanuprakashreddy I reproduced the issue and fixed it. The fix will be available in the v5.8.

[2020-06-16 14:27] allabhanuprakashreddy commented on #272
@aelassas Thanks for the update and quick fix

[2020-06-16 14:55] aelassas commented on #272
@allabhanuprakashreddy If you are using the .NET version, you can deploy the fix as follows:
1. Stop Wexflow Windows Service
2. Go to C:\Program Files\Wexflow\\
3. Backup Wexflow.Core.dll
4. Copy the new [Wexflow.Core.dll](https://github.com/aelassas/Wexflow/files/4787295/Wexflow.Core.dll.zip) in C:\Program Files\Wexflow\\
5. Start Wexflow Windows Service

[2020-06-18 12:53] #272 closed

[2020-06-22 12:58] haseres opened #273 "Exec Graph disappears"
Designer. The Execution Graph, disappears in diagram tab

1. Open Workflow
2. Goto to XML tab view (The Exec Graph dissapeared)
3. Put Execution Graph. Save ok
4. Goto Diagram tab view (I cant save)
5. Return XML tab view. (The Exec Graph dissapeared)
![2_Goto Diagram i cant save](https://user-images.githubusercontent.com/63476765/85289949-92c4e180-b46e-11ea-9476-e193c115fdde.PNG)
![3_Dissapears E

[2020-06-22 14:12] aelassas commented on #273
@haseres I reproduced the bug and fixed it. The fix will be available in the v5.8.

[2020-06-22 14:54] haseres commented on #273
Thks

[2020-06-22 14:54] #273 closed

[2020-06-25 16:27] aelassas commented on #269
@janborup I have just released the [v5.8](https://github.com/aelassas/Wexflow/releases/tag/v5.8). Can you try it and let me know if this bug is fixed please?

[2020-07-13 02:11] happyqq opened #274 "If I run this program in non-docker mode, it will cause a series of security problems"
Hello，Wexflow
If I run this program in non-docker mode, it will cause a series of security problems
For example, many tasks like “FileMover” that perform file operations on the system. How can I make these tasks run in multi-user mode well?
Is there a safer way to run in multi-user mode?
Thanks。

[2020-07-13 04:41] aelassas commented on #274
Are you using the .net or the .net core version? Which security problems are you talking about? What do you mean by multi-user mode?

[2020-07-13 08:59] happyqq commented on #274
I use .net core in Linux。
Suppose an ordinary user uses "FileMover to delete /usr/bin", is this a security issue? What I mean is whether there is a security solution for multi-user mode.
Do you understand what I mean?

[2020-07-13 11:50] aelassas commented on #274
Wexflow does not run under sudo in Linux so there are no security problems. If a user wants to delete /usr/bin with Wexflow this is not possible because it requires privileges to delete the content of that folder.

[2020-07-13 12:31] happyqq commented on #274
![msedge_hWxqtnlP43](https://user-images.githubusercontent.com/29003131/87304395-56554480-c547-11ea-99a7-4d368efbb76e.png)

If Wexflow is running in the root environment, the system does not perform security checks on root permissions and the environment, he will directly delete a test file under /usr/bin/.

[2020-07-13 12:47] aelassas commented on #274
Yes, there might be a security issue if you install Wexflow on Linux as root. For the moment, there are no security checks but what I advise you to do for the moment is to install Wexflow on Linux as non-root user to avoid security problems.

[2020-07-13 13:25] happyqq commented on #274
Ok, thanks!
But I hope to see that you can improve the security check of the root environment in the next version. Or now you can explain it in the help document:
  When setting the permissions of /opt/Wexflow, tell the user to log in with a non-root account,
Or create a user with non-root permissions and give this directory non-root permissions.

[2020-07-15 03:28] #274 closed

[2020-08-01 22:55] diegosps commented on #247
Is `SharedMemory` only valid for custom tasks?
If I wanted to do a series of transformations on data, the only way to do it is reading and writing a series of xml files on disk? This would be inefficient.

I'm thinking something like FME from Safe Software.

Maybe that is not what Wexflow is trying to solve and I just missed the point. Sorry.

[2020-08-05 04:19] vinodhparmar opened #275 "wexflow_backend docker login not working"
Hi,

I have installed docker on CentOS 7 using the instruction provided here -- > https://hub.docker.com/r/aelassas/wexflow

I am able to login to http://myip:8012/  Swagger Wexflow but When I try to connect to backed which is on port 8011  (http://myip:8011) nothing happened. It is also not showing any error message.

docker logs shows below
# docker logs wexflow_wexflow-backend_1
Starting up htt

[2020-08-10 06:47] jitendra1292 opened #276 "Issue regarding email notifications in approval workflow"
Hi,

I am having an issue regarding email notifications in approval workflow. please help me.

**Email configuration setup for Document Approval as:**

<appSettings>
    <add key="WexflowSettingsFile" value="C:\Wexflow\Wexflow.xml" />
    <add key="WexflowServicePort" value="8000" />
    <add key="SuperAdminUsername" value="admin" />
    <add key="EnableWorkflowsHotFolder" value="false" />
    <ad

[2020-08-18 04:58] mkbnil opened #278 "Custom Task in .NET Core 3.1 unable to load dependencies"
Hi aelassas,

I have created one custom task in .NET Core 3.1 and deployed all task dlls and dependent dlls into the C:\Wexflow-netcore\Tasks folder and started the wexflow. from the manager tab i was able to start the workflow but it results in failure and gives the log output as unable to laod the dependant files i have added.

i tried the same in .NET version (target version 4.6.1) and when i a

[2020-08-18 21:02] MoayadAlghamdi opened #279 "wexflow does not support System.linq in ExecCs Task"
I have this error during exectue c# file , so what is the solution for this error ?
2020-08-18 23:22:43.003 ERROR - [Reports / 1] [ExecCs] c:\WexflowTesting\ExecCs_src\Program1.cs(4,14) : error CS0234: The type or namespace name 'Linq' does not exist in the namespace 'System' (are you missing an assembly reference?)

Thanks

[2020-08-21 07:01] akleine01 opened #280 "Question Temp Folder"
Hi,

Is there a job thats cleans the temp folder on a regular basis?

Is there a setting for the temp files storage time?

A.Kleine

[2020-08-25 09:04] Musikero31 opened #281 "How to consume the custom task activity workflow through API"
Hello,

I'm new to using this tool. I would like to ask how do I consume the created custom task workflow through the Wexflow API. Below is the xml of the workflow which I did:
`<Workflow xmlns="urn:wexflow-schema" id="151" name="Test" description="">`
	`<Settings>`
		`  <Setting name="launchType" value="trigger" />`
		`  <Setting name="enabled" value="true" />`
		`  <Setting name="approval" value

[2020-08-25 14:22] aelassas commented on #281
[Here](https://github.com/aelassas/Wexflow/wiki/RESTful-API) is the documentation you are looking for.

[2020-08-26 01:24] Musikero31 commented on #281
I looked into this before I wrote this question that's why I'm confused and don't understand. The data that I intend to pass to the API is DogName. How do I pass my data to it or what should I do to pass it? Where do I start basically with this?

In addition to it, when I called the http://localhost:8000/wexflow/search?s=Test it throws me this error message:
![image](https://user-images.githubuser

[2020-08-26 10:07] aelassas commented on #281
For the error you are getting, you must set basic access auth header. See the doc.

For the DogName, what are you trying to do? Save a workflow?

[2020-08-26 20:14] rkramer1964 opened #282 "Build and Debug instructions"
Are there current, up-to-date instructions on building .net core versions from source and debugging them?  The instructions in Debug Wexflow contain references to c:\ and folders that don't appear in the source tarball.

Thanks!

[2020-08-26 20:56] aelassas commented on #282
You only need to copy Wexflow-netcore and WexflowTesting in c:. You can download them from releases page. Make sure that you run Wexflow in Debug mode and not in Mixed mode.

[2020-08-26 21:38] rkramer1964 commented on #282
So - if you download the wexflow-5.8.zip - at the top level there is a Wexflow-5.8 folder, under that is the folder structure shown on github (samples, setup, src, etc) - there is no Wexflow-netcore nor WexflowTesting,  are you using '-' to separate folders rather than / or \ in your comment?

[2020-08-26 22:21] aelassas commented on #282
You should download wexflow-5.8-windows-netcore.zip.

[2020-08-27 12:58] rkramer1964 commented on #282
Thank you for your help, but that doesn't help me build from the source.  I'd like to be able to use this in a project that requires all open source modules to be buildable from source.  Specifically, I need to build the .net core version and preferably using dotnet build commands instead of VS since VSCode is the preferred editor.

[2020-08-27 13:56] aelassas commented on #282
You can be build from source using [dotnet](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build) command on the main project [Wexflow.Server](https://github.com/aelassas/Wexflow/blob/master/src/netcore/Wexflow.Server/Wexflow.Server.csproj).

[2020-08-27 16:00] rkramer1964 commented on #282
thank you

[2020-08-27 16:00] #282 closed

[2020-09-06 06:14] MoayadAlghamdi opened #283 "I can't sign in , Please reply as soon as possible!!!"
Hi ! , I downloaded the app and it worked with me, and after a while I tried to log in and it came up to me a message said " An error occurred during the authentication "

[2020-09-06 11:07] aelassas commented on #283
The username is admin and the password is wexflow2018

If you are still facing the issue, try to uninstall it and reinstall it.

[2020-09-09 08:51] TinuS-OG opened #284 "Possible to throw a Failed or Warning Status?"
Hello Akram

I do have a workflow manipulating some files of a third party software and moving them forward to a next software to further proccess them.

At the beginning of my workflow I do test, if the files do exist. Only if they do exist I do continue with the process. So far so good, all works well.

I do abort the further processing, if those files don't exist. For that I'd like to use the F

[2020-09-09 09:04] u2mike opened #285 "Trigger Workflow receiving email"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
is there a possibility to create a workflow like this:
+ frequently checking mail account and parse received emails:
++ if defined sender and if defined subject
++ do this or that ...
thx in advance for your assistence ... any hint welcome

regards michael

[2020-09-09 10:34] aelassas commented on #284
No, it's not possible to throw a workflow error or warning for the moment. This would be a feature request.

[2020-09-09 10:36] aelassas commented on #285
No, it's not possible for the moment. This would be a feature request.

[2020-09-09 10:46] u2mike commented on #285
thx for quick response ... and with the existing "MailsReceiver" there is NO workaround possible?

[2020-09-09 10:52] aelassas commented on #285
No, MailsReceiver just fetches emails for the moment. This task would be used to implement the feature request.

[2020-09-09 10:58] u2mike commented on #285
ok awaiting for your feature request ... :)

to add ... thx for sharing this tool ... i use this very often 👍

[2020-09-10 08:43] TinuS-OG commented on #284
Hi Akram

Ok, all clear. Please do add this story to your feature request list then.

My workaround in the meanwhile I was able to get to work. In my Workflow else case I do delete a non-existing dummy file what then throws an failed status for the whole workflow. And then it appears 'as red' within the dashboard/history and it's easier  for me to locate.

Thank you, greetings, Martin

[2020-09-12 20:41] MoayadAlghamdi opened #286 "I have issue in custom task , replay please"
After do all configrations , when i wanna save the workflow this error message display for me

![image](https://user-images.githubusercontent.com/26679115/93004631-5b3b7200-f551-11ea-9dee-901a1f59ec86.png)

please can u help!!

[2020-09-12 22:48] aelassas commented on #286
Did you copy your custom task (dll) in C:\Program Files\Wexflow? Also, can you post the logs when you try to save your workflow?

[2020-09-13 09:17] MoayadAlghamdi commented on #286
Yes I did , this the screenshot from logs file

![image](https://user-images.githubusercontent.com/26679115/93014611-0c2a2700-f5bb-11ea-8e28-1df145c8ecf5.png)

[2020-09-13 12:30] aelassas commented on #286
Your workflow is correct. Can I see the source code of your custom task?

[2020-09-14 06:51] MoayadAlghamdi commented on #286
This is the source code
-----------------------------------------------
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Xml.Linq;
using Wexflow.Core;

namespace MyTask
{
    public class MyTasks : Task
    {
        public string MySetting { get; private set; }
        public MyTasks(XElement xe, Workflow wf) : base(xe, wf)
        {
            M

[2020-09-14 08:05] MoayadAlghamdi commented on #283
I'm tried but still get the error , what should i do ?

[2020-09-14 11:14] aelassas commented on #286
There is an error in your namespace. The namespace should be Wexflow.Tasks.MyTask and the dll should be Wexflow.Tasks.MyTask.dll.

[2020-09-14 11:18] MoayadAlghamdi commented on #286
I will try it , and give u the feedback , Thank u

[2020-09-16 08:16] mrFarno opened #287 "CORS « Access-Control-Allow-Origin » missing error"
**Describe the bug**
I installed wexflow via Docker and when I go to the login page and enter login (admin) and password (wexflow2018) nothing is happening because my browser is blocking request (tried in Firefox and Google Chrome)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin login page (for me on localhost port 8011)
2. Enter login and password
3. Click Sign in
4. See error

[2020-09-22 08:10] yafozhangjun opened #288 "Get the return value of Switch Task"
Get the return value of Switch Task ;How do I get the return value of a Task through the API, because we use the separation of front and back ends

[2020-09-22 14:52] aelassas commented on #288
You cannot get the value of a task from the API. This feature is not implemented yet.

[2020-09-23 01:09] yafozhangjun commented on #288
How to get it if I don’t use API

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "aelassas/Wexflow"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年9月22日(星期二) 晚上10:52
收件人:&nbsp;"aelassas/W

[2020-09-25 14:05] teunlielu opened #289 "Custom plugin"
code:

using System.Threading;
using System.Xml.Linq;
using Wexflow.Core;

`namespace WexflowPlugin2
{
    public class MyTask : Task
    {
        public MyTask(XElement xe, Workflow wf) : base(xe, wf)
        {
            // Task settings go here
        }

        public override TaskStatus Run()
        {
            // Task logic goes here
            return new TaskStatus(Status.Success);

[2020-09-25 14:12] aelassas commented on #289
Your namespace should be Wexflow.Tasks.MyTask and the dll filename should be Wexflow.Tasks.MyTask.dll.

[2020-09-25 14:26] teunlielu commented on #289
thanks

[2020-09-25 14:26] #289 closed

[2020-09-26 17:55] teunlielu opened #290 "Progress"
Sugistion for new future progress value of task. That user can seen how progress of task is.
Plugin can update task by value 0-1. Long task is waiting better see there progress of this task.
Nice project.

[2020-10-13 14:42] TinuS-OG opened #291 "Wrong multiple start of one workflow"
Hello Akram

Wexflow 5.8

I've seen that if I do define my workflow as to get started by trigger and if I do save it in the XML tab by ctrl+S, it does **not** get started, what is like expected:
	<Settings>
		<Setting name="launchType" value="trigger" />
		<Setting name="enabled" value="true" />
		<Setting name="approval" value="false" />
		<Setting name="enableParallelJobs" value="false" />
	</Se

[2020-10-13 14:58] TinuS-OG opened #292 "Workflow launchType missing in Diagram and Wiki-Help"
Hi Akram

I'm using Wexflow 5.8

I do remember in some older versions, it was possible to define the launchType within the Diagram tab as like trigger or period or startup. Within Version 5.8 it's not possible anymore to define the lanuchType within the Diagram GUI, and to see there all possible LaunchTypes. Expected would be to define within the Diagram Tab the Workflow Settings as well, aren't t

[2020-10-19 02:13] mike7ang1rdz commented on #9
https://zeebe.io/
this is much more powerful

[2020-10-20 18:25] josersleal opened #293 "Multitenancy"
Is it possible to make wexflow multi tenant?

[2020-10-27 07:00] Faissal18 commented on #283
I have the same issue too

I already Uninstall and reinstall wexflow but still have a message  " An error occurred during the authentication "

I have tried with deferent devices and different versions  of windows  ( server 2016  + windows 10 )

thank you

[2020-10-28 09:24] Faissal18 opened #294 "An error occurred during the authentication"
when I try to login to Wexflow manager I have a MSG "An error occurred during the authentication"

I already Uninstall and reinstall Wexflow
I also tried to change the Port
but still have same message

I have tried with different devices and different versions of windows ( server 2016 , windows 10 )

Thank you in advance

[2020-10-29 07:08] josersleal opened #295 "can wexflow be used in a SSO context?"
For example, the login to the process engine
Also assigning users to tasks in real time by using SSO should be possible

[2020-11-02 04:04] josersleal commented on #293
Anyone?
Is this project alive?

[2020-11-02 06:08] aelassas commented on #293
It's not possible to make wexflow multi tenant for the moment.

[2020-11-06 09:03] xNick1 commented on #286
Is it possible to create a custom task with class name different from "MyTask"?
We tried to name the class "LaunchRequestTask" but we have problems.
Could you help me?

[2020-11-06 09:14] xNick1 commented on #286
Is it possible to create a custom task with the class being named something different than "MyTask"?
I tried to name the class "LaunchRequestTask" but it didn't work so far.
Could you help me?

[2020-11-06 09:16] xNick1 commented on #286
Is it possible to create a custom task with the class being named something different than "MyTask"?
I tried to name the class "LaunchRequestTask" but it didn't work so far.
My biggest concern is not being able to create more than one custom task.
Could you help me?

[2020-11-06 11:41] aelassas commented on #286
@xNick1 you can. Just rename MyTask to something else in the source code and in the dll name and it should work.

[2020-11-06 13:31] xNick1 commented on #286
Hmm I have no problems if I name it "MyTask", otherwise I can't seem to get it to work.
I changed the namespace name, class name (both the file and the class) and the dll name.
Does the project name matter?
Also I can't figure out how to create more than one custom task. Could I ask you for an example/a snippet/anything?
Due to the fact that it only works if I name it "MyTask", I have no idea how

[2020-11-10 20:48] aelassas commented on #278
Loading dependencies in the .net core version is not supported for the moment.

[2020-11-10 20:55] #280 closed

[2020-11-13 21:02] xavidram opened #296 "Unable to save workload with custom task."
I created a custom Task using the Wexflow package in a separate project solution as seen below. I set up the TasksNames.Json as instructed, as well as the TasksSettings.json. I can create a new Workflow and save it without any tasks. But when I add this task into the workflow. The settings fields populate correctly, but upon saving I get an error that the workflow could not be saved.

![image](htt

[2020-11-13 21:12] aelassas commented on #296
Did you copy paste the DLL Wexflow.Tasks.SendNotification.dll in ./Wexflow/Tasks/ ?

[2020-11-13 21:16] xavidram commented on #296
Yes. I did copy the dll file and then restarted the docker container running the backend just in case.

[2020-11-13 21:23] aelassas commented on #296
Ok. You don't need to restart the container. Did you copy the backend and the configuration files and folders from the container to the current folder?

[code]

[2020-11-13 21:35] xavidram commented on #296
I used a docker compose to spin up the docker containers. For the wexflow server I mounted the volume and pointed it to the `/opt/wexflow` folder. The `Wexflow.Tasks.SendNotifications` was copied into the local file system `/opt/wexflow/Wexflow/Tasks`  folder which the Wexflow.xml looks at. The docker container seems to recognize the files being added because upon doing `docker cp opt_wexflow_1:/o

[2020-11-14 05:53] kevalkothari opened #297 "When Opening Job again it not saving the file Path"
**Describe the bug**
Unable to Save File Path - Once saved and Opening the Task again the Field is empty

**To Reproduce**
Steps to reproduce the behavior:
1. Created simple Job  that unzip the File and save to to destination
2. Added Path in "selectFiles" and "destDir"
3. clicked Ctrl + Save
4. Closed and Opened that job again.

**Expected behavior**
The field selectFiles showing empty. also when

[2020-11-14 06:07] kevalkothari commented on #297
I found my mistake. It takes number of files instead of file path. It worked for one file.

#1 Is there way to read all zip files from folder and unzip them in mass?
#2 There there activity to download file from remote URL?

Thanks,
Keval

[2020-11-16 19:18] xavidram commented on #296
So I did some more testing. The issue seems to be with version ` 5.7` and my Custom task. I created a Blank task and added it into the Tasks folder and version 5.7 wouldn't pick it up. It would throw the same error. Then I purged the wexflow docker containers, recreated them with version `5.8` and the blank custom task now gets picked up and is able to be saved in the workflow. My `SendNotificatio

[2020-11-16 19:18] #296 closed

[2020-11-16 19:38] xavidram commented on #296
So I added my custom task `Wexflow.Tasks.SendNotifications` into the wexflow-net-core folder under the C drive in order to catch any errors. The task ran successfully without any issues, so now I am looking into why it can't load the Task on the live server.

[2020-11-17 04:45] kevalkothari commented on #297
Hello @aelassas

Is there error in WebClient ? Any though on it?

Thanks

[2020-11-17 11:12] xNick1 opened #298 "Calling a task within another task"
Is it possible to call a task within another task?

In my case it'd be calling an existing task (Wexflow.Tasks.Sql) within my custom task (I wanted to use the existing task instead of writing everything from scratch).
I can't use the designer thing in the frontend, because my custom task has to cycle on more than one record

Do you have any snippets/examples?

[2020-11-19 17:25] aelassas commented on #298
@xNick1 No, it's not possible to call a task within another task.

[2020-11-25 11:44] jainprajvi opened #299 "Can we persist the state of the job in case of backend server failure?"
If we start an approval workflow on Wexflow (it is in running state) and suddenly the server is down. When the server is back up, the jobs that were in the running state are lost. Is there any way that we can persist the state of running jobs so that in case of failure, we do not lose them. Thanks!

[2020-11-28 10:06] kevalkothari commented on #297
Is this project still ALIVE?

[2020-11-29 17:01] vvulovic opened #300 "Hosting on IIS"
Hello!

I need help with hosting this on IIS.

Can anybody explain to me which folder in IIS to target and do I need any additional configuration?

I have already tried a bunch of configuration stuff, but nothing works, it always says that the connection is blocked when I try to log in to the manager through web ui.

I only need the web UI to set it up.

ThanksS!

[2020-11-29 23:40] janborup commented on #300
Hi @vvulovic

It you have installed Wexflow as Windows Service, your /Backed is normally in a System-restricted area under ../ProgramFiles

Start by finding the /Backend folder, and copy this to a new area that can be accessed from ISS, normally C:\InetPub\wwwroot\WF-Backend\

Then make a simple new site to this area, but be sure NOT to use port 8000, because this is normally hosted by Wexflow, th

[2020-11-30 07:13] vvulovic commented on #300
Hey @janborup ,

do I need to change anything in the js files?

Or any of the configs?

Thanks!

[2020-11-30 11:47] janborup commented on #300
Nope..

If You dont use the standard port 8000 for Wexflow, You dont need to change anything.

/Cheers

[2020-11-30 11:55] vvulovic commented on #300
@janborup

This is what I get, we are using port 443 and 80

![Screenshot_2](https://user-images.githubusercontent.com/30145999/100607459-4201c080-330b-11eb-857e-0ba01f40e00c.png)

[2020-11-30 14:14] janborup commented on #300
It looks like You are using some kind of domaine, and not localhost, then you got to have a totally other security setup.

I cannot help you There - sorry.

[2020-12-01 07:37] vvulovic commented on #300
@janborup so, if not using domain, how would then I host it on iis?

[2020-12-01 11:07] vvulovic commented on #300
@janborup alright, we think we know how to go around this. Basically, manager will run on / , so all the html files, and then, we will map everything that comes on hostname/wexlfow to localhost:8000/wexflow.

When we do this, we get this error:

details: "Error details are currently disabled.<br />To enable it, please set <strong>TraceConfiguration.DisplayErrorTraces</strong> to <strong>true</stro

[2020-12-01 22:04] janborup commented on #300
Hi

You start up by telling you want to host til Wexflow Client-Files in the
IIS, now you are talking about configure the Wexflow Rest-server to a
domain for the server, this is a completely different scenario.

You have to absolutely be clear about the difference.
- The Backend HTML files, has no server, but default configured to connect
to Wexflow port 8000
- The WexFlow installation on the serv

[2020-12-07 10:16] jwillmer opened #302 "Triggered by webhook"
Is it possible to trigger a workflow by a webhook? The possibilities of Wexflow are awesome but most of the time our processes get started by other systems that send a webhook.

[2020-12-07 10:39] aelassas commented on #302
You can use [Wexflow API](https://github.com/aelassas/Wexflow/wiki/RESTful-API) to trigger workflows.

[2020-12-07 10:52] jwillmer commented on #302
yes, but can I send a (POST) webhook to a Wexflow endpoint to start it (and use the information (JSON body) of the request in my workflow)?

[2020-12-07 11:04] aelassas commented on #302
You can send a POST http://localhost:8000/wexflow/start?w={id} to start a workflow but it doesn't return a JSON response.

[2020-12-07 11:04] jwillmer commented on #302
shall I create a feature request or is this something the engine does not focus on?

[2020-12-07 11:06] aelassas commented on #302
You can create a feature request.

[2020-12-07 11:25] jwillmer opened #303 "Webhook Support"
**Is your feature request related to a problem? Please describe.**
Most of the applications on the internet can trigger other applications by webhook. They send a (POST) request to a user defined endpoint with a JSON body. For example a checklist app can send a web request with the current (finished) task. Other applications (or workflow engines) can then use the information of the request to star

[2020-12-29 11:49] leonidstrelok opened #304 "Unable to load assembly"
![Capture](https://user-images.githubusercontent.com/41046801/103281847-d12af280-49f5-11eb-8a9f-b4829c1c952c.PNG)

[2021-01-04 06:29] leonidstrelok commented on #286
@aelassas **I have the same problem using .NET 5.0 and the same error comes out**

[2021-01-08 19:45] jk164 opened #305 "Workflow with more approvers designated at the time of the workflow execution"
Hello,

first let me thank you for your great work.

I am considering the possibilities of using your solution. One of the tasks I need to solve is to automatically create a record with multiple approvers within one workflow. At the same time, I need to specify and set approvers dynamically at the workflow execution time (eg by querying the database). An example could be the approval of invoices w

[2021-01-09 10:21] akiraAllouch opened #306 "workflow completion"
Hi.
I need to see the status of a workflow and in other words what task is currently running in a workflow.
Is there a way to do that?
I thought of using the logs but they are only filled in after a workflow is finished...
The only other thing I can think of is to store a list of task names/IDs in a record that's designated for an instance.. and once a task is complete the name gets taken off.. Is

[2021-01-20 19:58] Mohad0 opened #307 "Unquoted service path"
**Describe the bug**
I noticed that its service is hijackable due to the unquoted service path. Using this vulnerability, attackers can execute different files as `Wexflow`. It allows local users to replace the service with arbitrary code to escalate their privileges. I hope you check this link for more details: https://cwe.mitre.org/data/definitions/428.html.

**To Reproduce**
Steps to reproduce

[2021-01-29 07:14] MaxWellDaan opened #308 "Can not save workflow with custom task"
I use net and IIS.
I create a custom task which named " WexFlow.Tasks.MaxApprove".
I have added the reference inthe Wexflow.Server，“C:\Wexflow\TasksNames.json”,"C:\Wexflow\TasksSettings.json” I also add.
In the WEB Design panel,the custom task is ok.But when I create a new workflow and add custom task,it throw exception when save.
Exception message:
2021-01-29 15:11:56,525 ERROR [8] - An error occ

[2021-01-29 08:04] #308 closed

[2021-01-30 12:35] kiquenet opened #309 "Task for generate SqlToExcel (xlsx)"
For generate reports in Xlsx.

[2021-01-30 16:20] janborup commented on #309
Same request earlier..

https://github.com/aelassas/Wexflow/issues/163#issuecomment-558387581

[2021-02-02 06:36] anasmurad opened #310 "I have a question about approval of your task by the manager"
When the employee starts the workflow, he requires the approval of the manager, and he returns a notice that the manager has agreed to the request. Is it possible for all employees to receive a notice that the manager has approved a request and not one employee

[2021-02-02 07:17] MaxWellDaan opened #311 "How can I create a parallel approval?"
Hi,
I have looked the docu of the parallel approval, but I did not achieve.Acturally,In my case ,I want if I start the workflow No1,and the the workflow No2 will also be started,but need not start by myself.And No1,No2 workflow will be separate approval，they don't affect each other.
Can I achieve that?

[2021-02-02 08:41] MaxWellDaan opened #312 "Administrator user login error."
When I use the Super Administrator to login the client,it is ok, but use the Administrator user login ,it throws an exception.

Please check the image and the exception message.
![image](https://user-images.githubusercontent.com/77947252/106573938-3afa6700-6575-11eb-921c-c5c6010c4696.png)
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

[2022-11-02 20:41] janborup opened #2 "Wexflow Logs Galore"
**How do we minimize Webflow logs?**
I love Wexflow, but I'm always frustrated when logs is a little to much.
On a server I have about 10 tasks schedule for running each 1 to 5 min.
Theese tasks generates about 1 million log/folder structure in a 2 months period, so I do a lot of clean up on theese logs, only the delete them

**Wexflow needs a log strategy**
Can we make a log strategy setting e.g.

[2022-11-04 15:19] aelassas commented on #2
For logging, I'm using log4net.

For logs, I will add LogLevel setting option to Wexflow engine with the following options:

None = No Logs
Minimum = Only last log
Severely = Only last log and logs with errors
All = All logs (like now)

Is it OK for you?

[2022-11-04 18:40] aelassas commented on #2
@janborup I added a new setting to wexflow server called LogLevel with the following options:

* Debug: All logs and debug logs.
* All: All logs without debug logs.
* Severely: Only last workflow log and error logs.
* Minimum: Only last workflow log.
* None: No logs.

You can change this setting in Wexflow.Server.exe.config for .NET:

[code]

And appsettings.json for .NET Core:

[code]

I will pub

[2022-11-05 07:00] #2 closed, assigned to aelassas

[2022-11-05 23:34] mrinc opened #3 "Docker Support?"
Hey guys,

Just stumbled on this project and it looks pretty cool.

You're using net core so could we do a docker image of this?

Instead of having to install the services on a machine, we can just spin up a single or multiple containers and be OS independent.

[2022-11-06 09:27] aelassas commented on #3
@mrinc Docker is supported. You can follow these [instructions ](https://github.com/aelassas/wexflow/wiki/Docker) to build and run Wexflow Docker image.

[2022-11-07 09:18] #3 closed, assigned to aelassas

[2022-11-10 15:51] parasparmar opened #4 "Good to see you back, long time no see"
Hey Alessas, Good to see you back, long time no see. I was searching for this project for a good 2 year and was mortified to see it missing everywhere.
All we could find was old forks that were of no use to us.

Thanks for being alive, well and back on GitHub

[2022-11-10 16:30] aelassas commented on #4
Thanks. The project will remain open source forever now with major updates.

[2022-11-10 16:30] #4 closed, assigned to aelassas

[2022-11-24 06:17] kant2002 opened #6 "Typo in Wiki"
https://github.com/aelassas/wexflow/wiki/Get-Strated

Page is Get Strated

[2022-11-24 06:30] aelassas commented on #6
Thank you for reporting this. All fixed now.

[2022-11-24 06:30] #6 closed, assigned to nobody

[2022-11-29 08:16] jeffward01 opened #7 "[Question] - Just wanted to confirm that the SFTP plugin handles incomplete Downloads (and uplaods)"
Massively look app!! This is great!

I reviewed the code for the `SFTP` and it looks like it **does** handle incomplete download and uploads by simply over-writing it?

I have a use-case where the machine that WexFlow will:

* Wexflow installed on` LocalComputerAAA`
* Connect to FTP `RemoteServer123`
* Wexflow downloads files from `RemoteServer123` and saves them to a NAS or Drive connected to `Lo

[2022-11-29 08:21] jeffward01 opened #8 "[Question] Roadmap and Issue Priority for contributions?"
# Question

Do you have a list of `Wishlist` / `Backlog` / `Roadmap` features that you would like implemented?  This will be for contributors to review so they know what your priorities are.

I think it would be very cool to have this, so that people can pick tickets instead of randomly implementing new features that may or may not be in scope of the project.

Thank you!

## Note

Again, I very mu

[2022-11-29 09:20] aelassas commented on #7
1. Yes, incomplete files will be overwritten.
2. Files are saved in Wexflow's Temp folder (C:\Wexflow\Temp).
3. selectFiles works as [follows](https://github.com/aelassas/wexflow/wiki/Get-Started#how-tasks-communicate-between-each-other).
4. [Here](https://github.com/aelassas/wexflow/blob/main/samples/net/Wexflow/Workflows/Workflow_Ftp_download_tag.xml) is a sample ftp download tagging workflow. [

[2022-11-29 09:31] aelassas opened #9 "Wexflow Wishlist and Feature Requests"
Hi,

If you want a new feature in Wexflow, feel free to add your feature request on this board with a description of what you want.

If you found a bug, please open a new issue and don't leave a message on this board.

Kind regards,

[2022-11-29 09:34] aelassas commented on #8
Thanks for your feedback and interest about Wexflow. I opened a [new issue](https://github.com/aelassas/wexflow/issues/9) regarding Wexflow Wishlist and feature requests. Feel free to add your feature requests there.

[2022-11-29 15:02] sNakiex commented on #9
Hi, Just recently came across this project and it has a lot of potential!
I think it would be a nice feature if we had more control over the input/output of a Task. (if this is already possible please let me know)
Currently we can move around data between tasks using the Hashmap.

Let's say I have the following use case:
Step 1: Retrieve data from SQL
Step 2: Transform data to different data model

[2022-11-29 16:06] aelassas commented on #9
@sNakiex You can transfer state between tasks through [selectEntities](https://github.com/aelassas/wexflow/wiki/Custom-Tasks#entities).

You can share objects between tasks through [Shared Memory](https://github.com/aelassas/wexflow/wiki/Custom-Tasks#shared-memory).

For your use case, you can create 3 [custom tasks](https://github.com/aelassas/wexflow/wiki/Custom-Tasks):

**Custom Task 1**:  Retr

[2022-11-30 10:59] sNakiex commented on #9
@aelassas Makes sense and looks good, I didn't take a look at the selectEntities yet, seems to be the missing link in my use case!

[2022-11-30 15:05] #7 closed, assigned to nobody

[2022-11-30 15:05] #8 closed, assigned to nobody